@model RollSystemMobile.Models.Student
@{
    ViewBag.Title = Model.StudentCode + " - " + Model.FullName + " Image Data";
}
@section ExtraHead {
    <style>
        body
        {
            background-color: White;
        }
    </style>
}
<h4>@Model.FullName Image Data
</h4>
@if (Model.StudentImages.Count > 0)
{

    foreach (var image in Model.StudentImages)
    {
    <div class="thumbnail-holder">
        <img class="thumbnail" src="@Url.TrainingImage(image.ImageLink)" />
        <button type="button" class="close btn-delete" imageID="@image.ImageID" data-dismiss="modal" aria-hidden="true">
            ×</button>
    </div>
    }
    <div id="message">
    </div>
}
else
{
    <h6>
        No images. Please upload some.</h6>
}
@if (ViewBag.Errors != null)
{
    <div>
        <ul>
            <li style="padding-top: 5px">Images: 
                @foreach (var Error in (List<String>)ViewBag.Errors)
                {
                <div class="thumbnail-holder">
                        <img class="thumbnail" src="@Url.TrainingImage(Error)" />
                    </div>
                }
                 existed in database. Not save.</li>
        </ul>
    </div>
}
<div id="upload-div">
    @using (Html.BeginForm("SingleStudent", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    
        @Html.Hidden("StudentID", @Model.StudentID)
    
        <h5>
            Add more Image Data:</h5>
        <input type="file" id="files" name="ImageFiles" accept="image/*" multiple />
        <button class="btn" id="btnUpload">
            Upload</button>
        <br />
        <output id="list"></output>
    }
</div>
<script>

    var files;
    document.getElementById('files').addEventListener('change', handleFileSelect, false);

    function handleFileSelect(evt) {
        files = evt.target.files; // FileList object
        if (files.length > 20) {
            alert("Too many images. Select fewer than 20 images");
            return false;
        }
        document.getElementById('list').innerHTML = "";
        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {
            parseFile(f);
        }
    }

    function parseFile(file) {
        // Only process image files.
        if (!file.type.match('image.*')) {
            return;
        }

        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = function (e) {
            // Render thumbnail.
            var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(file.name), '"/>'].join('');
            document.getElementById('list').insertBefore(span, null);
        }
        // Read in the image file as a data URL.
        reader.readAsDataURL(file);
    }

    $('#btnUpload').click(function () {
        if (typeof files === "undefined" || files.length == 0) {
            alert("Select file to upload!");
            return false;
        } else if (files.length > 20) {
            alert("Too many images. Select fewer than 20 images");
            return false;
        } else {
            return true;
        }
    });

    $('button.btn-delete').click(deleteImage);
    //Delegate toi ham nay, khi click vao thi xoa anh
    function deleteImage() {
        var imageName = $(this).prev().attr('src');
        var imageID = $(this).attr('ImageID');
        var image = $(this);

        var con = confirm("Do you really want to delete?");
        if (con) {
            $.post('@Url.Action("DeleteTrainingImage", "Image")',
              { ImageID: imageID }, function (data) {
                  image.parent().hide('slow', function () {
                      $('#message').html(data.message);
                      $('#message').fadeIn(1000);
                      $('#message').fadeOut(1500);
                  });
              }, 'json');

        }
    }


</script>
