@model IEnumerable<RollSystemMobile.Models.Student>
@{
    ViewBag.Title = "Student List";
}
@section ExtraHead {
    <style>
        body
        {
            background-color: White;
        }
    </style>
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index")" class="glyphicons home"><i></i>Home</a></li>
    <li class="divider"></li>
    <li>Student List</li>
</ul>
<div class="separator bottom">
</div>
<div class="innerLR">
    <div class="widget">
        <div class="widget-head">
            <h3 class="heading glyphicons user">
                <i></i>Student List</h3>
        </div>
        <div class="widget-body">
            <div>
                @using (@Html.BeginForm("StudentList", "Admin", FormMethod.Get))
                {
                    <span class="dropdown-label">Class:</span> @Html.DropDownList("ClassID", (SelectList)ViewBag.ClassID)
                    <input type="submit" class="btn btn-primary btn-with-dropdown" value="Select" />
                }
            </div>
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped table-condensed" id="example" style="background-color: #49ad47;
                    opacity: 1.0 !important">
                    <thead>
                        <tr>
                            <th class="text-right" style="color: #ffffff">
                                No.
                            </th>
                            <th style="color: #ffffff">
                                Student Code
                            </th>
                            <th style="color: #ffffff">
                                Full Name
                            </th>
                            <th style="color: #ffffff">
                                Email
                            </th>
                            <th style="color: #ffffff">
                                Class
                            </th>
                            <th class="text-center" style="color: #ffffff">
                                Images
                            </th>
                            <th class="text-center" style="color: #ffffff">
                                Request Upload
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int index = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-right">
                                    @index
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Class.ClassName)
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary" href="@Url.Action("SingleStudent", new { StudentID = @item.StudentID })">
                                        @item.StudentImages.Count images</a>
                                </td>
                                <td class="text-center">
                                    @if (item.StudentImages.Count < 10)
                                    {
                                        <a class="btn btn-info" href="@Url.Action("ReRequest", new { studentID = @item.StudentID })">
                                            Request Upload</a>
                                    }
                                </td>
                            </tr>
                                    { index++; }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>
                    This class has no student</p>
            }
        </div>
    </div>
    <script>

        /* Table initialisation */
        $(document).ready(function () {
            $('#example').dataTable({
                "sDom": "<'row'<'span4'l><'span4'f>r>t<'row'<'span4'i><'span4'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [3, 5]}]
            });
        });
    </script>
