@model RollSystemMobile.Models.Subject
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Create New Subject</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table class="table">
        <tr>
            <td>
                <div class="editor-label">
                    <b>Short Name</b>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ShortName)
                    @Html.ValidationMessageFor(model => model.ShortName)
                </div>
                <span class="help-block">Acronyms of subject ( Example : OS, XML ...)</span>
                <div class="editor-label">
                    <b>Full Name</b>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FullName)
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
                <span class="help-block">Full Name of subject ( Example : OS, XML ...)</span>
                <div class="editor-label">
                    <b>Number of slot</b>
                </div>
                <div class="editor-field">
                    @Html.DropDownList("NumberOfSlot", new List<SelectListItem> 
       { 
           new SelectListItem { Text = "1", Value = "1" }, 
           new SelectListItem { Text = "2", Value = "2" },
       }, new { style = "width: 70px;" })
                    @Html.ValidationMessageFor(model => model.NumberOfSlot)
                </div>
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Create" class="btn btn-primary" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
