@model IEnumerable<RollSystemMobile.Models.Subject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Subject List<span style="float: right; margin-right: 20px; font-size: 20px;">( @Html.ActionLink("Create new subject", "Create")
        )</span></h2>
<table class="table table-bordered table-striped" id="example">
    <thead>
        <th style="background-color: #70ad47; color: #ffffff">
            No.
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Short Name
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Full Name
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Number Of Session
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Number Of Slot
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Active / Inactive
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
        </th>
    </thead>
    <tbody>
        @{int index = 1;}
        @foreach (var item in Model)
        {
            if (item.IsActive == true)
            {
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.NumberOfSession)
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.NumberOfSlot)
                </td>
                <td>
                    <a class="btn btn-primary" onclick="inactive('@item.SubjectID','@item.FullName')" style="width: 50px; margin-left:10px;">
                        Active</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SubjectID }) 
                     <a href="#" onclick="deleteSubject('@item.FullName','@item.SubjectID');">
                        Delete</a>
                </td>
            </tr>
            }
            else
            { 
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.NumberOfSession)
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.NumberOfSlot)
                </td>
                <td>
                    <a class="btn" onclick="active('@item.SubjectID','@item.FullName')" style="width: 50px; margin-left:10px;">
                        Inactive</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SubjectID }) 
                    <a href="#" onclick="deleteSubject('@item.FullName','@item.SubjectID');">
                        Delete</a>
                </td>
            </tr>
            }

            { index++; }
        }
    </tbody>
</table>
<script>
    /* Table initialisation */
    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row'<'span4'l><'span4'f>r>t<'row'<'span4'i><'span4'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ records per page"
            },
            "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [5, 6]}]
        });
    });
    function inactive(id, name) {
        var result = confirm("Are you sure want to inactive subject : " + name + " ?");
        if (result) {
            link = '@Url.Action("InactiveSubject", new { id = "tmp1" })';
            link = link.replace("amp;", "");
            link = link.replace("tmp1", id);
            window.location.href = link;
        }
    }
    function active(id, name) {
        var result = confirm("Are you sure want to active subject : " + name + " ?");
        if (result) {
            link = '@Url.Action("ActiveSubject", new { id = "tmp1" })';
            link = link.replace("amp;", "");
            link = link.replace("tmp1", id);
            window.location.href = link;
        }
    }
    function deleteSubject(sub, subID) {
        var result = confirm("Do you want to delete subject " + sub + " ? ");
        if (result) {
            var link = '@Url.Action("Delete", new { id = "tmp1" })';
            link = link.replace("amp;", "");
            link = link.replace("Delete/", "Delete?id=");
            link = link.replace("tmp1", subID);
            window.location.href = link;
        }
    }
</script>
