@model List<string>
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Import data</h2>
<p id="msg">
</p>
@using (Html.BeginForm("ImportExcel", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
{  
    <input id="FileUpload" name="FileUpload" type="file" />
    <br />
    <br />
    <b>Download file template <a href="@Url.Action("Download", "Staff")">here</a>. </b>
    <br />
    <br />
    <input class="btn btn-primary" type="submit" id="Submit" name="Submit" value="Submit" />
    
}
<script type="text/javascript">
    $(document).ready(function () {
        $(":file").filestyle();
        if ('@ViewBag.NumCls' != "" && '@ViewBag.NumStu' != "") {
            document.getElementById("msg").innerHTML = "Import successfull ! " + '@ViewBag.NumCls' + " classes and " + '@ViewBag.NumStu' + " students are saved into database !";
        }
    });
    $('form').submit(function () {
        var selectedFile = $('#FileUpload').val();
        var matches = selectedFile.match(/\.(xlsx?)$/i);
        if (matches == null) {
            alert('please select an Excel file');
            return false;
        }
        return true;
    });
</script>
