@model IEnumerable<RollSystemMobile.Models.Class>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Class List <span style="float: right; margin-right: 20px; font-size: 20px;">( @Html.ActionLink("Create new class", "Create")
        )</span></h2>
<table class="table table-bordered table-striped" id="example">
    <thead>
        <th style="background-color: #70ad47; color: #ffffff">
            No.
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Major
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            ClassName
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Student List
        </th>
        <th class="text-center" style="background-color: #70ad47; color: #ffffff">
            Active / Inactive
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
        </th>
    </thead>
    <tbody>
        @{int index = 1;}
        @foreach (var item in Model)
        {
            if (item.IsActive == true)
            {
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.ActionLink("Add / Remove", "StudentList", new { ClassID = item.ClassID })
                </td>
                 <td>
                    <a class="btn btn-primary" onclick="inactive('@item.ClassID','@item.ClassName')" style="width: 50px; margin-left:55px;">Active</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClassID }) |
                   <a href="#" onclick="deleteClass('@item.ClassName','@item.ClassID');">
                        Delete</a>
                </td>
            </tr>
            }
            else
            { 
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.ActionLink("Add / Remove", "StudentList", new { ClassID = item.ClassID })
                </td>
                <td>
                 <a class="btn" onclick="active('@item.ClassID','@item.ClassName')" style=" margin-left:55px;">Inactive</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClassID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClassID })
                </td>
            </tr>
            }
            { index++; }
        }
    </tbody>
</table>
<script>
    /* Table initialisation */
    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row'<'span4'l><'span4'f>r>t<'row'<'span4'i><'span4'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ records per page"
            },
            "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [3, 4,5]}]
        });
    });
    function inactive(id, name) {
        var result = confirm("Are you sure want to inactive class : " + name + " ?");
        if (result) {
            link = '@Url.Action("InactiveClass", new { id = "tmp1" })';
            link = link.replace("amp;", "");
            link = link.replace("tmp1", id);
            window.location.href = link;
        }
    }
    function active(id, name) {
        var result = confirm("Are you sure want to active class : " + name + " ?");
        if (result) {
            link = '@Url.Action("ActiveClass", new { id = "tmp1" })';
            link = link.replace("amp;", "");
            link = link.replace("tmp1", id);
            window.location.href = link;
        }
    }
    function deleteClass(clss,classID) {
        var result = confirm("Do you want to delete class "+ clss + " ? ");
        if (result) {
            var link = '@Url.Action("Delete", new { id = "tmp1" })';
            link = link.replace("amp;", "");
            link = link.replace("Delete/", "Delete?id=");
            link = link.replace("tmp1", classID);
            window.location.href = link;
        }
    }
</script>
