@model IEnumerable<RollSystemMobile.Models.Instructor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Instructor List <span style="float: right; margin-right: 20px; font-size: 20px;">( @Html.ActionLink("Create new instructor", "Create")
        )</span></h2>
<table class="table table-bordered table-striped" id="example">
    <thead>
        <th style="background-color: #70ad47; color: #ffffff">
            No.
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Fullname
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Schedule
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
        Active / Inactive
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
        </th>
    </thead>
    <tbody>
        @{ int index = 1;}
        @foreach (var item in Model)
        {
            if (item.IsActive == true)
            {
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.ActionLink("Teaching Schedule", "Schedule", new { id = item.InstructorID })
                </td>
                <td class="text-center">
                    <a class="btn btn-primary" onclick="inactive('@item.InstructorID','@item.Fullname')" style="width: 50px">Active</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.InstructorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.InstructorID })
                </td>
            </tr>
            }
            else
            {
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.ActionLink("Teaching Schedule", "Schedule", new { id = item.InstructorID })
                </td>
                <td class="text-center">
                    <a class="btn" onclick="active('@item.InstructorID','@item.Fullname')" style="width: 50px">Inactive</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.InstructorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.InstructorID })
                </td>
            </tr>
            }
            { index++; }
        }
    </tbody>
</table>
<script>
    /* Table initialisation */
    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row'<'span4'l><'span4'f>r>t<'row'<'span4'i><'span4'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            },
            "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [3, 4, 5]}]
        });
    });
    function inactive(id,name) {
        var result = confirm("Are you sure want to inactive teacher : " + name +" ?");
        if (result) {
            link = '@Url.Action("InactiveInstructor", new { id = "tmp1" })';
            link = link.replace("amp;", "");
            link = link.replace("tmp1", id);
            window.location.href = link;
        }
    }
    function active(id, name) {
        var result = confirm("Are you sure want to active teacher : " + name + " ?");
        if (result) {
            link = '@Url.Action("ActiveInstructor", new { id = "tmp1" })';
            link = link.replace("amp;", "");
            link = link.replace("tmp1", id);
            window.location.href = link;
        }
    }
</script>
