@model RollSystemMobile.Models.Instructor
@{
    ViewBag.Title = "Teaching Schedule";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
@section ExtraHead {
    <style>
        #calendar
        {
            width: 650px;
            margin: 0 auto;
            font-size: 85%;
        }
        
        .fc-event-inner
        {
            line-height: normal;
            text-align: center;
        }
        
        .datepicker
        {
            z-index: 1151;
        }
    </style>
    <link href="@Url.Content("~/Content/Plug-in/FullCalendar/fullcalendar.css")" rel="stylesheet"
        type="text/css" />
    <script src="@Url.Content("~/Content/Plug-in/FullCalendar/js/fullcalendar.js")" 
    type="text/javascript"></script>
}
<h4>
    Teaching Schedule</h4>
<dl class="dl-horizontal">
    <dt>Full Name</dt>
    <dd>@Model.Fullname</dd>
    <dt>Phone Number</dt>
    <dd>@Model.Phone</dd>
    <dt>Email</dt>
    <dd>@Model.Email</dd>
</dl>
<div class="text-left" style="margin: 0 0 15px 280px">
    <h4>
        Session Report</h4>
    @using (Html.BeginForm("SessionReport", "Report", FormMethod.Post))
    {
        <span>Select time:</span> <select name="SelectedMonth" style="width:150px">
            @for (int i = 1; i <= 12; i++)
            {
                DateTime dt = new DateTime(2000, i, 1);
                if (dt.Month == DateTime.Today.Month)
                {
                <option value="@i" selected="selected">@dt.ToString("MMMM")</option>
                }
                else
                {
                <option value="@i">@dt.ToString("MMMM")</option>
                }
            }
            @{
            int LastYear = DateTime.Now.Year - 1;
            }
        </select>
        <select name="SelectedYear" style="width:120px">
            <option value="@LastYear">@LastYear</option>
            <option value="@DateTime.Now.Year" selected="selected">@DateTime.Now.Year</option>
        </select>
        <input type="hidden" name="InstructorID" value="@Model.InstructorID" />
            
        <button class="btn btn-primary" style="margin-top:-10px">
            Download</button>
    }
</div>
<div id='calendar'>
</div>
<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            editable: false,
            events: '@Url.Action("GetCalendarEvent", new { InstructorID = Model.InstructorID })',
            eventClick: function (calEvent, jsEvent, view) {
            },
            eventRender: function (event, element) {
                if (isPastDay(event.start)) {
                    //Chuyen qua mau xam
                    element.css('background-color', 'gray');
                    element.css('border', '1px solid gray');
                }
                else {

                }
            }
        });

    });

    function isPastDay(day) {
        var check = $.fullCalendar.formatDate(day, 'yyyy-MM-dd');
        var today = $.fullCalendar.formatDate(new Date(), 'yyyy-MM-dd');
        if (check <= today) return true;
        else return false;
    }
</script>
