@model RollSystemMobile.Models.ViewModels.LogImageViewModel
@{
    ViewBag.Title = "Log Images";
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index")" class="glyphicons home"><i></i>Home</a></li>
    <li class="divider"></li>
    <li>Log Images</li>
</ul>
<div class="separator bottom">
</div>
<div class="innerLR">
    @if (ViewBag.Students != null && ViewBag.FacesAdded != null)
    {
        List<RollSystemMobile.Models.Student> Students = ViewBag.Students;
        List<RollSystemMobile.Models.FaceAdded> FacesAdded = ViewBag.FacesAdded;
        <div class="widget">
            <div class="widget-head">
                <h3 class="heading glyphicons picture">
                    <i></i>Result</h3>
            </div>
            <div class="widget-body">
                <ul>
                    @foreach (var Student in Students)
                    {
                        <li style="padding-bottom: 5px">Added images :
                            @foreach (var Face in FacesAdded.Where(fa => fa.StudentID == Student.StudentID))
                            {
                                <div class="thumbnail-holder">
                                    <img class="thumbnail" src="@Url.TrainingImage(Face.FaceLink)" />
                                    <button type="button" class="close btn-delete" imageID="@Face.ImageID" data-dismiss="modal" aria-hidden="true">
                                        ×</button>
                                </div>
                            }
                            for student: @Student.StudentCode - @Student.FullName </li>
                    }
                </ul>
            </div>
        </div>
    }
    @if (ViewBag.Errors != null && ((List<String>)ViewBag.Errors).Count > 0)
    {
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">
                &times;</button>
            <strong>Warning!</strong> Images:
            @foreach (var Error in (List<String>)ViewBag.Errors)
            {
                <div class="thumbnail-holder">
                    <img class="thumbnail" src="@Url.TrainingImage(Error)" />
                </div>
            }
            existed in database. Not save.
        </div>
    }
    <div class="widget">
        <div class="widget-head">
            <h3 class="heading glyphicons search">
                <i></i>Find Log Images</h3>
        </div>
        <div class="widget-body">
            @using (Html.BeginForm("LogImages", "Admin", FormMethod.Post))
            {
                
                <div class="row-fluid">
                    <div class="control-group span3">
                        <label class="control-label">
                            From</label>
                        <div class="controls">
                            <div class="input-append date" data-date="@Html.FormatDate(@Model.FromDate)" id="beginDate" data-date-format="dd-mm-yyyy">
                                <input class="span2" name="InFromDate" id="InFromDate" style="width: 100px" size="16" type="text"
                    value="@Html.FormatDate(@Model.FromDate)" readonly><span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span3">
                        <label class="control-label" for="firstname">
                            To</label>
                        <div class="controls">
                            <div class="input-append date" data-date="@Html.FormatDate(@Model.ToDate)" id="endDate" data-date-format="dd-mm-yyyy">
                                <input class="span2" name="InToDate" id="InToDate" style="width: 100px" size="16" type="text"
                    value="@Html.FormatDate(@Model.ToDate)" readonly><span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span3">
                        <label class="control-label" for="firstname">
                            Class</label>
                        <div class="controls">
                            @Html.DropDownList("ClassID", (SelectList)ViewBag.ClassID, "", new { id = "slClass" })
                        </div>
                    </div>
                </div>
                
                <div class="form-actions" style="padding: 0">
                    <button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok">
                        <i></i>Find</button>
                </div>
            }
        </div>
    </div>
    @if (Model.LogList != null && Model.LogList.Count > 0)
    {
        <div class="widget">
            <div class="widget-head">
                <h3 class="heading glyphicons picture">
                    <i></i>Result</h3>
            </div>
            <div class="widget-body">
                @foreach (var Log in Model.LogList)
                {
                    foreach (var Image in Log.LogImages)
                    {
                    <div class="thumbnail-holder">
                        <img imgID="@Image.ImageID" class="log-thumb" src="@Url.LogImage(Image.ImageLink)" title="Class: @Log.RollCall.Class.ClassName. Date: @Html.FormatDate(Log.LogDate)">
                        </img>
                    </div>
                    
                    }
                }
                @using (Html.BeginForm("SelectLogImage", "Admin", FormMethod.Post))
                {
                    <div id="form">
                        <button class="btn btn-primary">
                            Use selected images</button>
                    </div>
                }
            </div>
        </div>
    }
    else if (Model.LogList != null && Model.LogList.Count == 0)
    {
        <div class="widget">
            <div class="widget-head">
                <h3 class="heading glyphicons picture">
                    <i></i>Result</h3>
            </div>
            <div class="widget-body">
                <h4>
                    No log image found</h4>
            </div>
        </div>
    }
</div>
<script>
    var now = new Date();
    //Nam trong hom nay toi end date, tru chu nhat
    var beginDate = $("#beginDate").datepicker().on('changeDate', function (ev) {
        if (ev.date.valueOf() > endDate.date.valueOf()) {
            var newDate = new Date(ev.date);
            endDate.setValue(newDate);
        } else {
            endDate.setValue(endDate.date);
        };
        beginDate.hide();
    }).data('datepicker');

    var endDate = $("#endDate").datepicker({
        onRender: function (date) {
            return date.valueOf() <= beginDate.date.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        endDate.hide();
    }).data('datepicker');


    //Select List Class
    $("#slClass").select2({
        placeholder: "All Class",
        allowClear: true,
        width: 100
    });

    $('.log-thumb').toggle(function () {
        $(this).addClass('selected');

        //Them dau V vao cai da chon
        var icon = $('<div class="glyphicons no-js ok_2 checked-icon" href="#"><i></i></div>');
        $(this).parent().append(icon);

        var selectedID = $(this).attr('imgID');
        var hiddenInput = $('<input  type="hidden" id="' + selectedID + '" name="ImageIDs" value="' + selectedID + '"/>');
        $('#form').append(hiddenInput);


    }, function () {
        //Bo dau V va class
        $(this).removeClass('selected');
        $(this).siblings('div').remove();

        var selectedID = $(this).attr('imgID');
        $('#' + selectedID).remove();
    });

</script>
@if (Model.ClassID != 0)
{
    <script>
        $("#slClass").select2("val", '@Model.ClassID');
    </script>
}