@model IEnumerable<RollSystemMobile.Models.RecognizerResult>
@{
    ViewBag.Title = "Recognize Result";
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index")" class="glyphicons home"><i></i>Home</a></li>
    <li class="divider"></li>
    <li><a href="@Url.Action("RecognizeTesting")" class="glyphicons home">Recognizer Testing</a></li>
    <li class="divider"></li>
    <li>Recognize Result</li>
</ul>
<div class="separator bottom">
</div>
<div class="innerLR">
    <div class="widget">
        <div class="widget-head">
            <h3 class="heading glyphicons picture">
                <i></i>Result</h3>
        </div>
        <div class="widget-body">
            @foreach (var RecognizerResult in Model)
            {
                <div class="img-holder">
                    @foreach (var Face in RecognizerResult.FaceList)
                    {
                        <div class="face-region" title="@Face.StudentName" style="@String.Format("margin-left:{0}px; margin-top:{1}px; width:{2}px; height:{3}px",
                                       Face.X, Face.Y, Face.Width, Face.Height);">
                        </div>
                    }
                    <img src="@Url.ResizedImage(RecognizerResult.ImageLink)" />
                </div>
            }
        </div>
    </div>
</div>


