<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap !-->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Extend!-->
    <link href="@Url.Content("~/Content/Admin/bootstrap-extend/jasny-bootstrap/css/jasny-bootstrap.css")"
        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Admin/bootstrap-extend/jasny-bootstrap/css/jasny-bootstrap-responsive.css")"
        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Admin/bootstrap-extend/bootstrap-select/bootstrap-select.css")"
        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Admin/bootstrap-extend/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css")"
        rel="stylesheet" type="text/css" />
    <!-- JqueryUI !-->
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <!-- Other Plugin !-->
    <link href="@Url.Content("~/Content/Plug-in/select2/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Plug-in/DataTable/DT_bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- Glyph icon and style, from smashing admin !-->
    <link href="@Url.Content("~/Content/Admin/css/glyphicons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Admin/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Admin/css/green-theme.css")" rel="stylesheet" type="text/css" />
    <!-- My own CSS !-->
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />
    <!-- Necessary js !-->
    <script src="@Url.Content("~/Content/Admin/scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <!-- Bootstrap Extend JS !-->
    <script src="@Url.Content("~/Content/Admin/bootstrap-extend/bootstrap-select/bootstrap-select.js")"
        type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/bootstrap-extend/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js")"
        type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/bootstrap-extend/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.js")"
        type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/bootstrap-extend/jasny-bootstrap/js/jasny-bootstrap.js")"
        type="text/javascript"></script>
    <!-- Other plugin script !-->
    <script src="@Url.Content("~/Scripts/bootstrap-filestyle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Plug-in/select2/select2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Plug-in/DataTable/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Plug-in/DataTable/dataTables.bootstrap.js")" type="text/javascript"></script>
    @RenderSection("ExtraHead", required: false)
</head>
<body>
    <!-- Start Content -->
    <div class="container-fluid">
        <div class="navbar main">
            <a href="index.html?lang=en" class="appbrand">
                <img src="../../Content/Admin/css/images/logo2.png" style="margin-top:5px; margin-left:25px;" /></a>
            <button type="button" class="btn btn-navbar">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button>
            <img src="../../Content/Admin/css/images/name3.png" style="margin-top:5px; margin-left:250px" />
            <ul class="topnav pull-right">
                <li class="account"><a data-toggle="dropdown" href="my_account.html?lang=en" class="glyphicons logout lock">
                    <span class="hidden-phone text">@User.Identity.Name</span><i></i></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#" class="glyphicons cogwheel">Change Password<i></i></a></li>
                        <li><span><a class="btn btn-default btn-small pull-right" style="padding: 2px 10px;
                            background: #fff;" href="@Url.Action("Logout", "Account")">Sign Out</a> </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="wrapper">
            <div id="menu" class="hidden-phone">
                <span class="profile"><a class="img" href="my_account.html?lang=en">
                    <img src="@Url.Content("~/Content/Admin/images/sample.gif")" /></a> <span><strong>@User.Identity.Name</strong>
                        <a href="my_account.html?lang=en">edit account</a> </span></span>
                <ul>
                    <li class="glyphicons home"><a href="@Url.Action("Index_Home")"><i></i><span>Instructor Home</span></a>
                    </li>
                    <li class="glyphicons calendar"><a href="@Url.Action("TeachingCalendar")"><i></i><span>Teaching Calendar
                        System</span></a></li>
                    <li class="glyphicons log_book"><a href="@Url.Action("Index")"><i></i><span>
                        Present Roll Call</span></a></li>
            </div>
            <div id="content">
                @RenderBody()
                <!-- End Content -->
            </div>
            <!-- End Wrapper -->
        </div>
    </div>
    <!-- Custom Onload Script -->
    <script src="@Url.Content("~/Content/Admin/scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/scripts/load.js")" type="text/javascript"></script>
</body>
</html>
