@model RollSystemMobile.Models.BindingModels.ChangePassModel
@{
    ViewBag.Title = "Change Password";
    int RoleID = Model.InUser.RoleID;
    switch (RoleID)
    {
        case 1:
            Layout = "~/Views/Admin/_Layout.cshtml";
            break;
        case 2:
            Layout = "~/Views/Staff/_Layout.cshtml";
            break;
        case 3:
            Layout = "~/Views/Student/_Layout.cshtml";
            break;
        case 4:
            Layout = "~/Views/Instructor/_Layout.cshtml";
            break;
    }
}
@if (RoleID == 1 || RoleID == 4)
{
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index")" class="glyphicons home"><i></i>Home</a></li>
        <li class="divider"></li>
        <li>Change Password</li>
    </ul>
    <div class="separator bottom">
    </div>
    <div class="innerLR">
        <div class="widget">
            <div class="widget-head">
                <h3 class="heading glyphicons settings">
                    <i></i>Change Password</h3>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                {
                    <span class="field-message" style="color: Green">@ViewBag.Message</span>
                
                    @Html.ValidationSummary(true)
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label" for="firstname">
                                Old Password ( <b style="color: Red">*</b> )</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.OldPassword, new { @class = "span2" })
                                @Html.ValidationMessageFor(model => model.OldPassword)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="firstname">
                                New Password ( <b style="color: Red">*</b> )</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "span2" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="firstname">
                                Repeat new password ( <b style="color: Red">*</b> )</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.RepeatPassword, new { @class = "span2" })
                                @Html.ValidationMessageFor(model => model.RepeatPassword)
                            </div>
                        </div>
                    </div>
                
                    <div class="form-actions" style="padding: 0">
                        <button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok">
                            <i></i>Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
    <h3>
        Change Password</h3>
     @Html.ValidationSummary(true)
    <span class="field-message" style="color: Green">@ViewBag.Message</span>
    
    <div class="editor-label">
        <b>Old Password</b>( <b style="color: Red">*</b> )
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.OldPassword, new { @class = "span3" })
        @Html.ValidationMessageFor(model => model.OldPassword)
    </div>
    
        <div class="editor-label">
        <b>New Password</b>( <b style="color: Red">*</b> )
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.NewPassword, new { @class = "span3" })
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
    
        <div class="editor-label">
        <b>Repeat New Password</b>( <b style="color: Red">*</b> )
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.RepeatPassword, new { @class = "span3" })
        @Html.ValidationMessageFor(model => model.RepeatPassword)
    </div>
    
        <p>
        <input type="submit" value="Save" class="btn btn-primary"/>
    </p>
    }
}
