@model RollSystemMobile.Models.Student
@{
    ViewBag.Title = "ChangeClass";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Change class student:</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div style="margin-left: 10px">
        <b>
            Student : </b> @Model.FullName<br />
        <b>
            Student Code :</b>@Model.StudentCode<br />
        <b>
            Class : </b>@ViewBag.Class<br />
    </div>
    <div class="editor-field " style="margin-left: 10px">
        <b>Change to : </b>@Html.DropDownList("ClassID", new SelectList(ViewBag.ClassID, "ClassID", "ClassName").OrderBy(a => a.Text))
    </div>
    <p>
        <input type="submit" value="Save" class="btn btn-primary" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    var option = document.createElement("option");
    option.text = "Break";
    option.value = "-1";
    var select = document.getElementById("ClassID");
    select.appendChild(option);
</script>
