@model RollSystemMobile.Models.RollCall
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Create New Roll Call</h2>
@using (Html.BeginForm("Create", "RollCall", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table class="table">
        <tr>
            <td style="width: 350px;">
                <div class="editor-label">
                    <b>1. Semester</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    @Html.DropDownList("SemesterID", new SelectList(ViewBag.SemesterID, "SemesterID", "SemesterName"), "- Select the semester -", new { style = "width: 200px;" })
                </div>
                <div class="editor-label">
                    <b>3. Major :</b>
                </div>
                <div class="editor-field " style="margin-left: 10px">
                    @Html.DropDownList("MajorID", (SelectList)ViewBag.MajorID, "", new { style = "width: 200px;" })
                </div>
                <span class="help-block">Select the major of roll call.</span>
                <div class="editor-label">
                    <b>5. Subject</b>
                </div>
                <div class="editor-field" style="margin-left: 10px;">
                    @Html.DropDownList("SubjectID", (SelectList)ViewBag.SubjectID, "", new { style = "width: 250px;" })
                </div>
                <span class="help-block">Select the subject of roll call.</span>
                <div class="editor-label">
                    <b>7. Instructor</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    @Html.DropDownList("InstructorID", (SelectList)ViewBag.MajoInstructorrID, "", new { style = "width: 230px;" })
                </div>
                <span class="help-block">Select the instructor of roll call.</span>
            </td>
            <td>
                <div class="editor-label">
                    <b>2. Begin Date</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    <div class="input-append date" id="begindate" data-date="10-10-2013" data-date-format="dd-mm-yyyy">
                        <input class="span2" name="BeginDate" id="BeginDate" style="width: 100px; margin-left: 10px;"
                            size="16" type="text" data-date-format="dd-mm-yyyy" readonly><span class="add-on"><i
                                class="icon-th"></i></span>
                    </div>
                </div>
                <span class="help-block">Select the begin date of roll call.</span>
                <div class="editor-label">
                    <b>4. Class</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    @Html.DropDownList("ClassID", (SelectList)ViewBag.ClassID, "", new { style = "width: 130px;" })<br />
                </div>
                <span class="help-block">Select the class of roll call.</span>
                <div class="editor-label">
                    <b>6. Start time</b>
                </div>
                <div class="editor-field" id="a" style="margin-left: 10px;">
                    @Html.DropDownList("StartTime", new List<SelectListItem>
       {
           new SelectListItem { Text = "07:00", Value = "07:00" }, 
           new SelectListItem { Text = "08:45", Value = "08:45" },
           new SelectListItem { Text = "10:30", Value = "10:30" }, 
           new SelectListItem { Text = "12:30", Value = "12:30" }, 
           new SelectListItem { Text = "14:15", Value = "14:15" }, 
           new SelectListItem { Text = "16:00", Value = "16:00" },
           new SelectListItem { Text = "18:45", Value = "18:45" }, 
           new SelectListItem { Text = "Other", Value = "Other" } 
       }, "", new { @id = "startTime", style = "width:90px;" }) -
                    <input style="margin-bottom: 10px; width: 80px;" type="text" name="otherTime" id="Other" />
                </div>
                <span class="help-block">Select the start time of roll call.</span>
            </td>
        </tr>
    </table>
    <p>
        <input style="margin-left: 20px;" type="submit" value="Create" id="submit" class="btn btn-primary" />
    </p>
}
<p style="font-size: 20px;">
    @Html.ActionLink("Back to List", "Index")
</p>
<script type="text/javascript">

    $(document).ready(function () {
        document.getElementById("startTime").disabled = true;
        document.getElementById("MajorID").disabled = true;
        document.getElementById("ClassID").disabled = true;
        document.getElementById("SubjectID").disabled = true;
        document.getElementById("InstructorID").disabled = true;
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        $("#Other").hide();
        //        var subjectID = $('#SubjectID :selected').attr("value");
        //        var today = new Date();
        //        var month = today.getMonth() + 1;
        //        var date = today.getDate();
        //        var year = today.getFullYear();
        //        var day = today.getDay();
        //        var currentdate = year + "-" + month + "-" + date;
        //        var NextDate;
        //        var Ndate;
        //        //set default day is monday
        //        if (day > 1) {
        //            var i = 8 - day;
        //            NextDate = new Date(year, month, date + i);
        //            if (NextDate.getMonth() == month) {
        //                Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
        //            } else {
        //                NextDate = new Date(year, month, date + i - 1);
        //                Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
        //            }
        //        } else if (day == 0) {
        //            NextDate = new Date(year, month, date + 1);
        //            Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
        //        } else {
        //            Ndate = date + "-" + month + "-" + year;
        //        }

        //        //show textbox when choose starttime is other.

        //        $("#Other").hide();
        //        $("#startTime").change(function () {
        //            var timeValue = $('#startTime :selected').text();
        //            if (timeValue == "Other") {
        //                $("#Other").show();
        //            } else {
        //                $("#Other").hide();
        //            }
        //        });

        //        $("#2").width(100);
        //        //create datepicker
        //        var now = new Date();

        //        var begindate = $("#begindate").datepicker({
        //            onRender: function (date) {
        //                return date.valueOf() < now.valueOf() ||
        //                         date.getDay() != 1 ? 'disabled' : '';
        //            }
        //        }).on('show', function (ev) {
        //            $('#begindate').data({ date: Ndate });
        //            $('#begindate').datepicker('update');
        //        });
        //        document.getElementById("BeginDate").value = Ndate;
        //        //set default semester

        //        if (month >= 1 && month < 5) {
        //            semester = "Spring " + year;
        //            document.getElementById("semester").innerHTML = semester;
        //        } else if (month < 9) {
        //            semester = "Summer " + year;
        //            document.getElementById("semester").innerHTML = semester;
        //        } else {
        //            semester = "Fall " + year;
        //            document.getElementById("semester").innerHTML = semester;
        //        }

        //        //check the number of slot of subject, set start time option
        //        CheckNumberOfSlot();
        //        //remove start time option had exist
        //        CheckStartTime();
        //        // remove instructor is teaching at time
        //        CheckInstructorFree();
        //        //show student list
        //        var classID = $('#ClassID :selected').attr("value");
        //        $('#classList').attr('href', "Studentlist?ClassID=" + classID);

        // change instructor when select subject
    });

    $('#SemesterID').change(function () {
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("startTime").disabled = true;
        document.getElementById("MajorID").disabled = true;
        document.getElementById("ClassID").disabled = true;
        document.getElementById("SubjectID").disabled = true;
        document.getElementById("InstructorID").disabled = true;
        $("#MajorID option[value='']").remove();


        addOption("", "", "MajorID");
        sortOption("MajorID");
        addOption("", "", "ClassID");
        sortOption("ClassID");
        addOption("", "", "SubjectID");
        sortOption("SubjectID");
        addOption("", "", "startTime");
        sortOption("startTime");
        addOption("", "", "InstructorID");
        sortOption("InstructorID");
        test();
        $("#Other").hide();
        $("#MajorID option[value='']").attr('selected', true);
        $("#ClassID option[value='']").attr('selected', true);
        $("#SubjectID option[value='']").attr('selected', true);
        $("#startTime option[value='']").attr('selected', true);
        $("#InstructorID option[value='']").attr('selected', true);

        $("#SemesterID option[value='']").remove();

        document.getElementById("MajorID").disabled = false;
    });
    //start time change value
    $('#startTime').change(function () {
        $("#startTime option[value='']").remove();
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("InstructorID").disabled = false;
        checkInstructorFree();
    });
    //change startime to text if subject is capnstone
    $('#SubjectID').change(function () {
        $("#SubjectID option[value='']").remove();
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("InstructorID").disabled = true;
        document.getElementById("startTime").disabled = false;

        addOption("", "", "InstructorID");
        sortOption("InstructorID");
        $("#InstructorID option[value='']").attr('selected', true);

        setDefaultTime();
        checkNumberOfSlot();
        checkStartTime();
    });


    //show student list of class
    $('#ClassID').change(function () {
        $("#ClassID option[value='']").remove();
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("SubjectID").disabled = false;
        document.getElementById("InstructorID").disabled = true;
        document.getElementById("startTime").disabled = true;

        addOption("", "", "InstructorID");
        sortOption("InstructorID");
        $("#InstructorID option[value='']").attr('selected', true);

        checkSubjectFree();

        setDefaultTime();
        checkNumberOfSlot();
        checkStartTime();
    });

    //major change
    $('#MajorID').change(function () {
        $("#MajorID option[value='']").remove();
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("ClassID").disabled = false;
        document.getElementById("SubjectID").disabled = true;
        document.getElementById("startTime").disabled = true;
        document.getElementById("InstructorID").disabled = true;

        addOption("", "", "InstructorID");
        sortOption("InstructorID");
        $("#InstructorID option[value='']").attr('selected', true);
        addOption("", "", "startTime");
        sortOption("startTime");
        $("#startTime option[value='']").attr('selected', true);
        addOption("", "", "SubjectID");
        sortOption("SubjectID");
        $("#SubjectID option[value='']").attr('selected', true);

        checkClassByMajor();
    });
    $('#InstructorID').change(function () {
        $("#InstructorID option[value='']").remove();
        document.getElementById("submit").className = "btn btn-primary";
        document.getElementById("submit").disabled = false;
    });

    function checkClassByMajor() {
        var majorID = $('#MajorID :selected').attr("value");
        var classUrl = '@Url.Action("GetClasses")/' + majorID;
        $.getJSON(classUrl, function (classes) {
            var html = "";
            html += ('<option value=""></option>');
            $.each(classes, function (index, item_class) {
                html += ('<option value="' + item_class.id + '" >' + item_class.name + '</option>');
            });
            $("#ClassID").html(html);
        });

    };
    function checkNumberOfSlot() {
        var subjectID = $('#SubjectID :selected').attr("value");
        var slotUrl = '@Url.Action("GetNumberOfSlot")/' + subjectID;
        $.getJSON(slotUrl, function (slot) {
            if (slot != 1) {
                $("#startTime option[value='10:30']").remove();
                $("#startTime option[value='16:00']").remove();
            }
        });
    };

    var today = new Date();
    var month = today.getMonth() + 1;
    var date = today.getDate();
    var year = today.getFullYear();
    var currentdate = year + "-" + month + "-" + date;

    function checkClassFree() {
        checkClassByMajor();
        var subjectID = $('#SubjectID :selected').attr("value");
        var subjectUrl = '@Url.Action("GetClassFree")/' + subjectID;

        $.getJSON(subjectUrl, function (classs) {
            $.each(classs, function (index, cls) {
                $("#ClassID option[value='" + cls.id + "']").remove();
            });
        });
    };
    function checkSubjectByMajor() {
        var majorID = $('#MajorID :selected').attr("value");
        var subjectUrl = '@Url.Action("GetSubjects")/' + majorID;

        $.getJSON(subjectUrl, function (subjects) {
            var html = "";
            html += ('<option value=""></option>');
            $.each(subjects, function (index, subject) {
                html += ('<option value="' + subject.id + '" >' + subject.name + '</option>');
            });
            $("#SubjectID").html(html);
        });
    };
    function checkSubjectFree() {
        var majorID = $('#MajorID :selected').attr("value");
        var subjectUrl = '@Url.Action("GetSubjects")/' + majorID;

        $.getJSON(subjectUrl, function (subjects) {
            var html = "";
            html += ('<option value=""></option>');
            $.each(subjects, function (index, subject) {
                html += ('<option value="' + subject.id + '" >' + subject.name + '</option>');
            });
            $("#SubjectID").html(html);
            var classID = $('#ClassID :selected').attr("value");
            var semesterID = $('#SemesterID :selected').attr("value");
            var classUrl = '@Url.Action("GetSubjectFree")?id=' + classID + '&semesterid=' + semesterID;
            $.getJSON(classUrl, function (subjects) {
                $.each(subjects, function (index, sub) {
                    $("#SubjectID option[value='" + sub.id + "']").remove();
                });
            });
        });
    };
    function checkStartTime() {
        var classID = $('#ClassID :selected').attr("value");
        var starttimeUrl = '@Url.Action("GetStartTime")/' + classID;

        $.getJSON(starttimeUrl, function (starttime) {
            $.each(starttime, function (index, time) {
                if (time.enddate > currentdate) {
                    $("#startTime option[value='" + time.starttime + "']").remove();
                    if (time.endtime == "10:15") {
                        $("#startTime option[value='08:45']").remove();
                    } else if (time.endtime == "12:00") {
                        $("#startTime option[value='10:30']").remove();
                    } else if (time.endtime == "15:45") {
                        $("#startTime option[value='14:15']").remove();
                    } else if (time.endtime == "17:30") {
                        $("#startTime option[value='16:00']").remove();
                    }
                }
            });
        });
    };

    function checkInstructorFree() {
        var subjectID = $('#SubjectID :selected').attr("value");
        var instructorUrl = '@Url.Action("GetInstructors")/' + subjectID;

        $.getJSON(instructorUrl, function (instructors) {
            var html = "";
            html += ('<option id="select" value="" ></option>');
            $.each(instructors, function (index, instructor) {
                html += ('<option value="' + instructor.id + '" >' + instructor.name + '</option>');
                var insUrl = '@Url.Action("GetInstructorFree")/' + instructor.id;
                $.getJSON(insUrl, function (inss) {
                    $.each(inss, function (index, ins) {
                        if (currentdate < ins.enddate) {
                            var starttime = $('#startTime :selected').attr("value");
                            if (ins.starttime == starttime) {
                                $("#InstructorID option[value=" + instructor.id + "]").remove();
                            }
                        }
                    });
                });
            });
            $("#InstructorID").html(html);
        });
    };
    function setDefaultTime() {
        $("#startTime option[value='07:00']").remove();
        $("#startTime option[value='08:45']").remove();
        $("#startTime option[value='10:30']").remove();
        $("#startTime option[value='12:30']").remove();
        $("#startTime option[value='14:15']").remove();
        $("#startTime option[value='16:00']").remove();
        $("#startTime option[value='18:45']").remove();
        var html = "";
        html += ('<option value=""></option>')
        html += ('<option value="07:00" >07:00</option>')
        html += ('<option value="08:45" >08:45</option>')
        html += ('<option value="10:30" >10:30</option>')
        html += ('<option value="12:30" >12:30</option>')
        html += ('<option value="14:15" >14:15</option>')
        html += ('<option value="16:00" >16:00</option>')
        html += ('<option value="18:45" >18:45</option>')
        html += ('<option value="Other" >Other</option>')
        $("#startTime").html(html);
    };
    function addOption(text, value, id) {
        var option = document.createElement("option");
        option.text = text;
        option.value = value;
        var select = document.getElementById(id);
        select.appendChild(option);
    };
    function sortOption(id) {
        var my_options = $("#" + id + " option");
        my_options.sort(function (a, b) {
            if (a.text > b.text) return 1;
            else if (a.text < b.text) return -1;
            else return 0
        })
        $("#" + id).empty().append(my_options);
    };
    function checkOtherTime() {
        var timeValue = $('#startTime :selected').atrr("value");
        if (timeValue == "Other") {
            $("#Other").show();
        } else {
            $("#Other").hide();
        }
    };



    function test() {
        var semesterID = $('#SemesterID :selected').attr("value");
        var semesterUrl = '@Url.Action("GetDateSemester")/' + semesterID;
        var now = new Date();        

        $.getJSON(semesterUrl, function (semester) {
            //set select first sunday
            a = new Date(semester.begindate);
            b = new Date(semester.enddate);
            var tmp;
            var Ndate;
            var NextDate;
            if (now.valueOf() < a.valueOf()) {
                tmp = new Date(a);
            } else {
                tmp = new Date(now);
            };
            var day = tmp.getDay();
            var year = tmp.getFullYear();
            var month = tmp.getMonth() + 1;
            var date = tmp.getDate();
            if (day > 1) {
                var i = 8 - day;
                NextDate = new Date(year, month, date + i);
                if (NextDate.getMonth() == month) {
                    Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
                } else {
                    NextDate = new Date(year, month, date + i - 1);
                    Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
                }
            } else if (day == 0) {
                NextDate = new Date(year, month, date + 1);
                Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
            } else {
                Ndate = date + "-" + month + "-" + year;
            }

            var begindate = $("#begindate").datepicker
            ({
                onRender: function (date) {
                     return date.valueOf() < now.valueOf() ||
                            date.valueOf() < a.valueOf() ||
                            date.valueOf() > b.valueOf() ||
                         date.getDay() != 1 ? 'disabled' : '';
                }
            }).on('changeDate', function (ev) {
                begindate.hide();
            }).data('datepicker');

            begindate.setValue(Ndate);
        });  
    };
</script>
