@model RollSystemMobile.Models.RollCall
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>RollCall</legend>
        <div class="editor-label">
            Major
        </div>
        <div class="editor-field">
            @Html.DropDownList("MajorID")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectID, "Subject")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SubjectID")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClassID, "Class")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClassID")
        </div>
        <div class="editor-label">
            Instructor
        </div>
        <div class="editor-field">
            @Html.DropDownList("InstructorID")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SemesterID, "Semester")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SemesterID")
            @Html.ValidationMessageFor(model => model.SemesterID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field" id="a">
            @Html.DropDownList("StartTime", new List<SelectListItem> 
       { 
           new SelectListItem { Text = "7:00", Value = "7:00" ,Selected=true}, 
           new SelectListItem { Text = "8:45", Value = "8:45" },
           new SelectListItem { Text = "10:30", Value = "10:30" }, 
           new SelectListItem { Text = "12:30", Value = "12:30" }, 
           new SelectListItem { Text = "14:15", Value = "14:15" }, 
           new SelectListItem { Text = "16:00", Value = "16:00" } 
       })
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>
        Start Date :
        <div class="input-append date" id="startdate" data-date-format="dd-mm-yyyy" style="margin-left: 12px;
            margin-right: 50px;">
            <input class="span2" style="width: 160px;" size="16" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(document).ready(function () {
        $("#startdate").datepicker({ dateFormat: 'dd/MM/yy' });
    });


    //set selected start time on reload page
    $('#StartTime').change(function () {
        var value = $('#StartTime :selected').index();
        localStorage.a = value;
    })
    window.onload = function () {
        document.getElementById('StartTime').selectedIndex = localStorage.a;
    }
    //dom not only ready, but everything is loaded

    $('#MajorID').change(function () {
        var majorID = $('#MajorID :selected').attr("value");

        var subjectUrl = '@Url.Action("GetSubjects")/' + majorID;
        var classUrl = '@Url.Action("GetClasses")/' + majorID;

        $.getJSON(subjectUrl, function (subjects) {
            var html = "";
            $.each(subjects, function (index, subject) {
                html += ('<option value="' + subject.id + '" >' + subject.name + '</option>');
            });
            $("#SubjectID").html(html);
        });

        $.getJSON(classUrl, function (classes) {
            var html = "";
            $.each(classes, function (index, item_class) {
                html += ('<option value="' + item_class.id + '" >' + item_class.name + '</option>');
            });
            $("#ClassID").html(html);
        });
    });

</script>
