@model RollSystemMobile.Models.RollCall
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Create New Roll Call</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            Major
        </div>
        <div class="editor-field">
            @Html.DropDownList("MajorID")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectID, "Subject")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SubjectID")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClassID, "Class")
            <a tabindex="-1" href="@Url.Action("StudentList")">Student List</a>
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClassID")
        </div>
        <div class="editor-label">
            Instructor
        </div>
        <div class="editor-field">
            @Html.DropDownList("InstructorID")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SemesterID, "Semester")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SemesterID")
            @Html.ValidationMessageFor(model => model.SemesterID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field" id="a">
            @Html.DropDownList("StartTime", new List<SelectListItem> 
       { 
           new SelectListItem { Text = "7:00", Value = "7:00" ,Selected=true}, 
           new SelectListItem { Text = "8:45", Value = "8:45" },
           new SelectListItem { Text = "10:30", Value = "10:30" }, 
           new SelectListItem { Text = "12:30", Value = "12:30" }, 
           new SelectListItem { Text = "14:15", Value = "14:15" }, 
           new SelectListItem { Text = "16:00", Value = "16:00" } 
       })
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BeginDate)
        </div>
        <div class="editor-field">
            <div class="input-append date" id="begindate" data-date-format="mm-dd-yyyy">
                <input class="span2" name="BeginDate" style="width: 160px; margin-left: 10px;" size="16" type="text"
                    value="@DateTime.Today.ToString("MM-dd-yyyy")" readonly><span class="add-on"><i class="icon-th"></i></span>
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            <div class="input-append date" id="enddate" data-date-format="mm-dd-yyyy">
                <input class="span2" name="EndDate" style="width: 160px; margin-left: 10px;" size="16" type="text"
                    value="@DateTime.Today.ToString("MM-dd-yyyy")" readonly><span class="add-on"><i class="icon-th"></i></span>
            </div>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(document).ready(function () {
        //create datepicker
        $("#begindate").datepicker();
        $("#enddate").datepicker();

        //set gia tri ban dau cho dropdowlist student
        var classID = $('#ClassID :selected').attr("value");
        var studentUrl = '@Url.Action("GetStudents")/' + classID;
        $.getJSON(studentUrl, function (students) {
            var html = "";
            $.each(students, function (index, student) {
                html += ('<option value="' + student.id + '" >' + student.name + '</option>');
            });
            $("#StudentID").html(html);

        });
    });


    //set selected start time on reload page
    $('#StartTime').change(function () {
        var value = $('#StartTime :selected').index();
        localStorage.a = value;
    })
    window.onload = function () {
        document.getElementById('StartTime').selectedIndex = localStorage.a;
    }
    //dom not only ready, but everything is loaded

    $('#MajorID').change(function () {
        var majorID = $('#MajorID :selected').attr("value");

        var subjectUrl = '@Url.Action("GetSubjects")/' + majorID;
        var classUrl = '@Url.Action("GetClasses")/' + majorID;

        $.getJSON(subjectUrl, function (subjects) {
            var html = "";
            $.each(subjects, function (index, subject) {
                html += ('<option value="' + subject.id + '" >' + subject.name + '</option>');
            });
            $("#SubjectID").html(html);
        });

        $.getJSON(classUrl, function (classes) {
            var html = "";
            $.each(classes, function (index, item_class) {
                html += ('<option value="' + item_class.id + '" >' + item_class.name + '</option>');
            });
            $("#ClassID").html(html);

            //set gia tri dropdownlist student khi change dropdownlist major
            var classID = $('#ClassID :selected').attr("value");
            var studentUrl = '@Url.Action("GetStudents")/' + classID;

            $.getJSON(studentUrl, function (students) {
                var html = "";
                $.each(students, function (index, student) {
                    html += ('<option value="' + student.id + '" >' + student.name + '</option>');
                });
                $("#StudentID").html(html);

            });
        });


    });
    //set gia tri dropdownlist student khi change dropdownlist class
    $('#ClassID').change(function () {
        var classID = $('#ClassID :selected').attr("value");
        var studentUrl = '@Url.Action("GetStudents")/' + classID;

        $.getJSON(studentUrl, function (students) {
            var html = "";
            $.each(students, function (index, student) {
                html += ('<option value="' + student.id + '" >' + student.name + '</option>');
            });
            $("#StudentID").html(html);
        });
    });
   
</script>
