@model RollSystemMobile.Models.RollCall
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Create New Roll Call</h2>
@using (Html.BeginForm("Create", "RollCall", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table class="table">
        <tr>
            <td style="width: 350px;">
                <div class="editor-label">
                    <b>Begin Date</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    <div class="input-append date" id="begindate" data-date="10-10-2013" data-date-format="mm-dd-yyyy">
                        <input class="span2" name="BeginDate" id="BeginDate" style="width: 100px; margin-left: 10px;"
                            size="16" type="text" data-date-format="mm-dd-yyyy" readonly><span class="add-on"><i
                                class="icon-th"></i></span>
                    </div>
                </div>
                <span class="help-block">Select the begin date of roll call.</span>
                <div class="editor-label">
                    <b>Major :</b>
                </div>
                <div class="editor-field " style="margin-left: 10px">
                    @Html.DropDownList("MajorID", (SelectList)ViewBag.MajorID, new { style = "width: 200px;" })
                </div>
                <span class="help-block">Select the major of roll call.</span>
                <div class="editor-label">
                    <b>Class</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    @Html.DropDownList("ClassID", (SelectList)ViewBag.ClassID, new { style = "width: 130px;" })<br />
                    <a id="classList" target="_blank" href="">Click to view student in this class</a>
                </div>
                <span class="help-block">Select the class of roll call.</span>
                <div class="editor-label">
                    <b>Instructor</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    @Html.DropDownList("InstructorID", (SelectList)ViewBag.MajoInstructorrID, new { style = "width: 230px;" })
                </div>
                <span class="help-block">Select the instructor of roll call.</span>
            </td>
            <td>
                <div class="editor-label">
                    <b>Semester</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    <p id="semester">
                        ...
                    </p>
                    <br />
                </div>
                <div class="editor-label">
                    <b>Subject</b>
                </div>
                <div class="editor-field" style="margin-left: 10px;">
                    @Html.DropDownList("SubjectID", (SelectList)ViewBag.SubjectID, new { style = "width: 250px;" })
                </div>
                <span class="help-block">Select the subject of roll call.</span>
                <div class="editor-label">
                    <b>Start time</b>
                </div>
                <div class="editor-field" id="a" style="margin-left: 10px;">
                    @Html.DropDownList("StartTime", new List<SelectListItem>
       {
           new SelectListItem { Text = "07:00", Value = "07:00" }, 
           new SelectListItem { Text = "08:45", Value = "08:45" },
           new SelectListItem { Text = "10:30", Value = "10:30" }, 
           new SelectListItem { Text = "12:30", Value = "12:30" }, 
           new SelectListItem { Text = "14:15", Value = "14:15" }, 
           new SelectListItem { Text = "16:00", Value = "16:00" },
           new SelectListItem { Text = "18:45", Value = "18:45" }, 
           new SelectListItem { Text = "Other", Value = "Other" } 
       }, new { @id = "startTime", style = "width:90px;" }) -
                    <input style="margin-bottom: 10px; width: 80px;" type="text" name="otherTime" id="Other" />
                </div>
                <span class="help-block">Select the start time of roll call.</span>
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Create" id="submit" class="btn btn-primary" />
    </p>
}
<p style="font-size: 20px;">
    @Html.ActionLink("Back to List", "Index")
</p>
<script type="text/javascript">
    $(document).ready(function () {
        var subjectID = $('#SubjectID :selected').attr("value");
        var today = new Date();
        var month = today.getMonth() + 1;
        var date = today.getDate();
        var year = today.getFullYear();
        var day = today.getDay();
        var currentdate = year + "-" + month + "-" + date;
        var NextDate;
        var Ndate;
        var Nndate;
        //set default day is monday
        if (day > 1) {
            var i = 8 - day;
            NextDate = new Date(year, month, date + i);
            if (NextDate.getMonth() == month) {
                Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
                Nndate = NextDate.getMonth() + "-" + NextDate.getDate() + "-" + NextDate.getFullYear();
            } else {
                NextDate = new Date(year, month, date + i - 1);
                Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
                Nndate = NextDate.getMonth() + "-" + NextDate.getDate() + "-" + NextDate.getFullYear();
            }
        } else if (day == 0) {
            NextDate = new Date(year, month, date + 1);
            Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
            Nndate = NextDate.getMonth() + "-" + NextDate.getDate() + "-" + NextDate.getFullYear();
        } else {
            Ndate = date + "-" + month + "-" + year;
            Nndate = month + "-" + date + "-" + year;
        }

        //show textbox when choose starttime is other.

        $("#Other").hide();
        $("#startTime").change(function () {
            var timeValue = $('#startTime :selected').text();
            if (timeValue == "Other") {
                $("#Other").show();
            } else {
                $("#Other").hide();
            }
        });

        $("#2").width(100);
        //create datepicker
        var begindate = $("#begindate").datepicker({
            onRender: function (date) {
                return date.getDay() != 1 ? 'disabled' : '';
            }
        }).on('show', function (ev) {
            $('#begindate').data({ date: Nndate });
            $('#begindate').datepicker('update');
        }).on('changeDate', function (ev) {
            var month = ev.date.getMonth() + 1;
            var year = ev.date.getFullYear();
            var semester;
            if (month >= 1 && month < 5) {
                semester = "Spring " + year;
                document.getElementById("semester").innerHTML = semester;
            } else if (month < 9) {
                semester = "Summer " + year;
                document.getElementById("semester").innerHTML = semester;
            } else {
                semester = "Fall " + year;
                document.getElementById("semester").innerHTML = semester;
            }
            $('#begindate').datepicker('hide');
        });
        document.getElementById("BeginDate").value = Ndate;
        //set default semester

        if (month >= 1 && month < 5) {
            semester = "Spring " + year;
            document.getElementById("semester").innerHTML = semester;
        } else if (month < 9) {
            semester = "Summer " + year;
            document.getElementById("semester").innerHTML = semester;
        } else {
            semester = "Fall " + year;
            document.getElementById("semester").innerHTML = semester;
        }

        //check the number of slot of subject, set start time option
        CheckNumberOfSlot();
        //remove start time option had exist
        CheckStartTime();
        // remove instructor is teaching at time
        CheckInstructorFree();
        //show student list
        var classID = $('#ClassID :selected').attr("value");
        $('#classList').attr('href', "Studentlist?ClassID=" + classID);

        // change instructor when select subject

    });
    //start time change value
    $('#startTime').change(function () {
        CheckInstructorFree();
    });
    //change startime to text if subject is capnstone
    $('#SubjectID').change(function () {
        var subjectID = $('#SubjectID :selected').attr("value");
        var instructorUrl = '@Url.Action("GetInstructors")/' + subjectID;
        var subjectID = $('#SubjectID :selected').attr("value");
        var timeValue = $('#startTime :selected').text();
        var slotUrl = '@Url.Action("GetNumberOfSlot")/' + subjectID;

        if (timeValue == "Other") {
            $("#Other").show();
        } else {
            $("#Other").hide();
        }

        $.getJSON(instructorUrl, function (instructors) {
            var html = "";
            $.each(instructors, function (index, instructor) {
                html += ('<option value="' + instructor.id + '" >' + instructor.name + '</option>');
            });
            $("#InstructorID").html(html);
        });
        //set start time
        SetDefaultTime();
        CheckNumberOfSlot();
        CheckStartTime();
        CheckInstructorFree();
    });


    //show student list of class
    $('#ClassID').change(function () {
        var classID = $('#ClassID :selected').attr("value");
        $('#classList').attr('href', "Studentlist?ClassID=" + classID);
        SetDefaultTime();
        CheckNumberOfSlot();
        CheckStartTime();
        CheckInstructorFree();
    });

    //major change
    $('#MajorID').change(function () {
        var majorID = $('#MajorID :selected').attr("value");

        var subjectUrl = '@Url.Action("GetSubjects")/' + majorID;
        var classUrl = '@Url.Action("GetClasses")/' + majorID;

        SetDefaultTime();
        $.getJSON(subjectUrl, function (subjects) {
            var html = "";
            $.each(subjects, function (index, subject) {
                html += ('<option value="' + subject.id + '" >' + subject.name + '</option>');
            });
            $("#SubjectID").html(html);
            CheckNumberOfSlot();

            var subjectID = $('#SubjectID :selected').attr("value");
            var instructorUrl = '@Url.Action("GetInstructors")/' + subjectID;
            $.getJSON(instructorUrl, function (instructors) {
                var html = "";
                $.each(instructors, function (index, instructor) {
                    html += ('<option value="' + instructor.id + '" >' + instructor.name + '</option>');
                });
                $("#InstructorID").html(html);
                CheckInstructorFree();
            });
        });
        $.getJSON(classUrl, function (classes) {
            var html = "";
            $.each(classes, function (index, item_class) {
                html += ('<option value="' + item_class.id + '" >' + item_class.name + '</option>');
            });
            $("#ClassID").html(html);
            CheckStartTime();
        });

        //
        var classID = $('#ClassID :selected').attr("value");
        $('#classList').attr('href', "Studentlist?ClassID=" + classID);

    });

    function CheckNumberOfSlot() {
        var subjectID = $('#SubjectID :selected').attr("value");
        var slotUrl = '@Url.Action("GetNumberOfSlot")/' + subjectID;
        $.getJSON(slotUrl, function (slot) {
            if (slot != 1) {
                $("#startTime option[value='10:30']").remove();
                $("#startTime option[value='16:00']").remove();
            }
        });
    };
    function CheckStartTime() {
        var classID = $('#ClassID :selected').attr("value");
        var starttimeUrl = '@Url.Action("GetStartTime")/' + classID;
        var today = new Date();
        var month = today.getMonth() + 1;
        var date = today.getDate();
        var year = today.getFullYear();
        var currentdate = year + "-" + month + "-" + date;

        $.getJSON(starttimeUrl, function (starttime) {
            $.each(starttime, function (index, time) {
                if (time.enddate > currentdate) {
                    $("#startTime option[value='" + time.starttime + "']").remove();
                    if (time.endtime == "10:15") {
                        $("#startTime option[value='08:45']").remove();
                    } else if (time.endtime == "12:00") {
                        $("#startTime option[value='10:30']").remove();
                    } else if (time.endtime == "15:45") {
                        $("#startTime option[value='14:15']").remove();
                    } else if (time.endtime == "17:30") {
                        $("#startTime option[value='16:00']").remove();
                    }
                }
            });
        });
    }
    function CheckInstructorFree() {
        var subjectID = $('#SubjectID :selected').attr("value");
        var instructorUrl = '@Url.Action("GetInstructors")/' + subjectID;

        var today = new Date();
        var month = today.getMonth() + 1;
        var date = today.getDate();
        var year = today.getFullYear();
        var currentdate = year + "-" + month + "-" + date;

        $.getJSON(instructorUrl, function (instructors) {
            var html = "";
            $.each(instructors, function (index, instructor) {
                html += ('<option value="' + instructor.id + '" >' + instructor.name + '</option>');
                var insUrl = '@Url.Action("GetInstructorFree")/' + instructor.id;
                $.getJSON(insUrl, function (inss) {
                    $.each(inss, function (index, ins) {
                        if (currentdate < ins.enddate) {
                            var starttime = $('#startTime :selected').attr("value");
                            if (ins.starttime == starttime) {
                                $("#InstructorID option[value=" + instructor.id + "]").remove();
                            }
                        }
                    });
                });
            });
            $("#InstructorID").html(html);
        });
    }
    function SetDefaultTime() {
        $("#startTime option[value='07:00']").remove();
        $("#startTime option[value='08:45']").remove();
        $("#startTime option[value='10:30']").remove();
        $("#startTime option[value='12:30']").remove();
        $("#startTime option[value='14:15']").remove();
        $("#startTime option[value='16:00']").remove();
        $("#startTime option[value='18:45']").remove();
        var html = "";
        html += ('<option value="07:00" >07:00</option>')
        html += ('<option value="08:45" >08:45</option>')
        html += ('<option value="10:30" >10:30</option>')
        html += ('<option value="12:30" >12:30</option>')
        html += ('<option value="14:15" >14:15</option>')
        html += ('<option value="16:00" >16:00</option>')
        html += ('<option value="18:45" >18:45</option>')
        html += ('<option value="Other" >Other</option>')
        $("#startTime").html(html);
    }
</script>
