@model RollSystemMobile.Models.RollCall
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Edit Roll Call</h2>
<div style="margin-left:10px;margin-bottom:10px;">
    <b>Semester : </b>@Model.Semester.SemesterName<br />
    <b>Major : </b>@Model.Class.Major.FullName<br />
    <b>Class : </b>@Model.Class.ClassName<br />
    <b>Subject : </b>@Model.Subject.FullName
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RollCallID)
    @Html.ValidationSummary(true)
    <table class="table">
        <tr>
            <td style="width: 350px;">
                <div class="editor-label">
                    <b>1. Begin Date</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    <div class="input-append date" id="begindate" data-date-format="dd-mm-yyyy">
                        <input class="span2" name="BeginDate" style="width: 100px; margin-left: 10px;" size="16" type="text"
                    value="@DateTime.Today.ToString("dd-MM-yyyy")" readonly><span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
                <span class="help-block">Select the begin date of roll call.</span>
                <div class="editor-label">
                    <b>2. Instructor</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    @Html.DropDownList("InstructorID")
                </div>
                <span class="help-block">Select the instructor of roll call.</span>
            </td>
            <td>
                <div class="editor-label">
                    <b>3. Start time</b>
                </div>
                <div class="editor-field" id="a" style="margin-left: 10px;">
                    @Html.DropDownList("StartTime", new List<SelectListItem>
       {
           new SelectListItem { Text = "07:00", Value = "07:00" }, 
           new SelectListItem { Text = "08:45", Value = "08:45" },
           new SelectListItem { Text = "10:30", Value = "10:30" }, 
           new SelectListItem { Text = "12:30", Value = "12:30" }, 
           new SelectListItem { Text = "14:15", Value = "14:15" }, 
           new SelectListItem { Text = "16:00", Value = "16:00" },
           new SelectListItem { Text = "18:45", Value = "18:45" }, 
           new SelectListItem { Text = "Other", Value = "Other" } 
       }, "", new { @id = "startTime", style = "width:90px;" }) -
                    <input style="margin-bottom: 10px; width: 80px;" type="text" name="otherTime" id="Other" />
                </div>
                <span class="help-block">Select the start time of roll call.</span>
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Save" class="btn btn-primary" />
    </p>
    
}
<div>
    @Html.ActionLink("Back to List", "Index", new { status = @Model.Status })
</div>
<script>
    $(document).ready(function () {
        $("#2").width(100);

        //
        var bgDate = '@ViewBag.BeginDate';
        var semesterID = $('#SemesterID :selected').attr("value");
        var semesterUrl = '@Url.Action("GetDateSemester")/' + semesterID;
        $.getJSON(semesterUrl, function (semester) {
            //set select first sunday
            var a = new Date(semester.begindate);
            var b = new Date(semester.enddate);
            var now = new Date();
            var begindate = $("#begindate").datepicker
            ({
                onRender: function (date) {

                    return date.valueOf() < now.valueOf() ||
                            date.valueOf() < a.valueOf() ||
                            date.valueOf() > b.valueOf() ||
                         date.getDay() != 1 ? 'disabled' : '';
                }
            }).data('datepicker');
            begindate.setValue(bgDate);
        });

        var stTime = '@ViewBag.StartTime';
        if (stTime != "07:00" || stTime != "08:45" || stTime != "10:30" || stTime != "12:30" || stTime != "14:15" || stTime != "16:00" || stTime != "18:45") {
            $('#Other').show();
            $('#startTime').val('Other');
            document.getElementById('Other').value = stTime;
        } else {
            $('#Other').hide();
        };
        checkInstructorFree();
    });
    function checkInstructorFree() {
        var sbID = '@ViewBag.SubjectID';
        var instructorUrl = '@Url.Action("GetInstructors")/' + sbID;

        $.getJSON(instructorUrl, function (instructors) {
            var html = "";
            html += ('<option id="select" value="" ></option>');
            $.each(instructors, function (index, instructor) {
                html += ('<option value="' + instructor.id + '" >' + instructor.name + '</option>');
            });
            $("#InstructorID").html(html);
        });
    };
</script>
