@model IEnumerable<RollSystemMobile.Models.RollCall>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Roll Call List<span style="float: right; margin-right: 20px; font-size: 20px;">( @Html.ActionLink("Create new roll call", "Create")
        )</span></h2>

    @Html.DropDownList("SemesterID", new SelectList(ViewBag.SemesterID, "SemesterID", "SemesterName"), new { style = "width:140px;" })
    <text> From :</text>
    <div class="input-append date" id="fromdate" data-date="10-10-2013" data-date-format="dd-mm-yyyy">
        <input class="span2" name="BeginDate" id="FromDate" style="width: 100px; margin-left: 10px;"
            size="16" type="text" data-date-format="dd-mm-yyyy" readonly><span class="add-on"><i
                class="icon-th"></i></span>
    </div>
    <text> To :</text>
    <div class="input-append date" id="todate" data-date="10-10-2013" data-date-format="dd-mm-yyyy">
        <input class="span2" name="BeginDate" id="ToDate" style="width: 100px; margin-left: 10px;"
            size="16" type="text" data-date-format="dd-mm-yyyy" readonly><span class="add-on"><i
                class="icon-th"></i></span>
    </div>
    <input type="button" class="btn btn-primary btn-with-dropdown" value="Select" onclick="getRollcallList();" />
    <div style="margin-bottom:10px">
        @using (Html.BeginForm("RollCallBooks", "Report", FormMethod.Post, new { @class = "inline-form" }))
        {
            foreach (var item in Model.OrderByDescending(r => r.Class.ClassName).OrderByDescending(r => r.BeginDate))
            {
            <input type="hidden" name="RollCallIDs" value="@item.RollCallID" />
            }
            <input type="submit" class="btn btn-success" value="Roll Call Reports" />
        }

                @using (Html.BeginForm("RollCallStudentLists", "Report", FormMethod.Post, new { @class = "inline-form" }))
        {
            foreach (var item in Model.OrderByDescending(r => r.Class.ClassName).OrderByDescending(r => r.BeginDate))
            {
            <input type="hidden" name="RollCallIDs" value="@item.RollCallID" />
            }
            <input type="submit" class="btn btn-info" value="Final Exam Student Lists"/>
        }
        
    </div>

    <table class="table table-bordered table-striped" id="example">
    <thead>
        <th style="width: 30px; background-color: #70ad47; color: #ffffff">
            No.
        </th>
        <th style="width: 50px; background-color: #70ad47; color: #ffffff">
            Class
        </th>
        <th style="width: 100px; background-color: #70ad47; color: #ffffff">
            Subject
        </th>
        <th style="width: 200px; background-color: #70ad47; color: #ffffff">
            Instructor
        </th>
        <th style="width: 200px; background-color: #70ad47; color: #ffffff">
            Date
        </th>
        <th style="width: 170px; background-color: #70ad47; color: #ffffff">
            Time
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Schedule
        </th>
        <th style="width: 200px; background-color: #70ad47">
        </th>
    </thead>
    <tbody>
        @{ int index = 1;}
        @foreach (var item in Model.OrderByDescending(r => r.Class.ClassName).OrderByDescending(r => r.BeginDate))
        {
            if (item.Status == 1)
            {
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.ShortName)
                </td>
                <td>
                    @item.Instructor.Fullname
                </td>
                <td>
                    @item.BeginDate.ToString("dd-MM-yyyy") to @item.EndDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.StartTime.ToString(@"hh\:mm") - @item.EndTime.ToString(@"hh\:mm")
                </td>
                <td>
                    @Html.ActionLink("Change", "ChangeSchedule", new { id = item.RollCallID })
                </td>
                <td>
                    @Html.ActionLink("Student List", "RollCallStudentList", new { RollCallID = item.RollCallID })
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.RollCallID })
                </td>
            </tr>
            }
            else if (item.Status == 2)
            {
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.ShortName)
                </td>
                <td>
                    @item.Instructor.Fullname
                </td>
                <td>
                    @item.BeginDate.ToString("dd-MM-yyyy") to @item.EndDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.StartTime.ToString(@"hh\:mm") - @item.EndTime.ToString(@"hh\:mm")
                </td>
                <td>
                    @Html.ActionLink("Change", "ChangeSchedule", new { id = item.RollCallID })
                </td>
                <td>
                    @Html.ActionLink("Student List", "RollCallStudentList", new { RollCallID = item.RollCallID })
                    <br />
                    @Html.ActionLink("Check Attendance", "RollCallDetail", new { id = item.RollCallID })
                </td>
            </tr>
            }
            else if (item.Status == 3)
            {
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.ShortName)
                </td>
                <td>
                    @item.Instructor.Fullname
                </td>
                <td>
                    @item.BeginDate.ToString("dd-MM-yyyy") to @item.EndDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.StartTime.ToString(@"hh\:mm") - @item.EndTime.ToString(@"hh\:mm")
                </td>
                <td>
                </td>
                <td>
                    @Html.ActionLink("View Attendance", "RollCallStudentList", new { RollCallID = item.RollCallID })
                </td>
            </tr>
            }
            { index++; }
        }
    </tbody>
</table>
<script>
    /* Table initialisation */
    $(document).ready(function () {

        var fromdate = $('#fromdate').datepicker().on('changeDate', function (ev) {
            var month = ev.date.getMonth() + 1;
            var ddate = ev.date.getDate() + "-" + month + "-" + ev.date.getFullYear();
            document.getElementById('fromdate').setAttribute('data-date', ddate);
            fromdate.hide();
        }).data('datepicker');
        var todate = $('#todate').datepicker({
            onRender: function (date) {
                return date.valueOf() <= fromdate.date.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            var month = ev.date.getMonth() + 1;
            var ddate = ev.date.getDate() + "-" + month + "-" + ev.date.getFullYear();
            document.getElementById('todate').setAttribute('data-date', ddate);
            todate.hide();
        }).data('datepicker');

        fromdate.setValue('@ViewBag.Fromdate');
        todate.setValue('@ViewBag.Todate');
        $('#SemesterID').val('@ViewBag.DefaultSemester');
        document.getElementById('fromdate').setAttribute('data-date', '@ViewBag.Fromdate');
        document.getElementById('todate').setAttribute('data-date', '@ViewBag.Todate');

        $('#example').dataTable({
            "sDom": "<'row'<'span4'l><'span4'f>r>t<'row'<'span4'i><'span4'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ records per page"
            },
            "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [6, 7]}]
        });
    });
    $('#SemesterID').change(function () {
        var semesterID = $('#SemesterID :selected').attr("value");
        var semesterUrl = '@Url.Action("GetDateSemester")/' + semesterID;
        var fromdate = $('#fromdate').datepicker().data('datepicker');
        var todate = $('#todate').datepicker().data('datepicker');
        $.getJSON(semesterUrl, function (semester) {
            fromdate.setValue(semester.bgdate);
            todate.setValue(semester.eddate);
            document.getElementById('fromdate').setAttribute('data-date', semester.bgdate);
            document.getElementById('todate').setAttribute('data-date', semester.eddate);
        });
    });
    function getRollcallList() {
        var fdate = document.getElementById('fromdate').getAttribute('data-date');
        var tdate = document.getElementById('todate').getAttribute('data-date');
        var semesterID = $('#SemesterID :selected').attr("value");
        var link = '@Url.Action("Index", new { fromdate = "fdate", todate = "tdate", smtID = "semesterid" })';
        link = link.replace("amp;", "");
        link = link.replace("amp;", "");
        link = link.replace("fdate", fdate);
        link = link.replace("tdate", tdate);
        link = link.replace("semesterid", semesterID);
        window.location.href = link;
    };
    
</script>
