@model IEnumerable<RollSystemMobile.Models.RollCall>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Staff/_Layout.cshtml";
    
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="test">
    <tr>
        <th>
            Class
        </th>
        <th>
            Subject
        </th>
        <th>
            Semester
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Edit
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.SemesterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)- @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)-@Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RollCallID })
            </td>
        </tr>
    }
</table>
