@model IEnumerable<RollSystemMobile.Models.RollCall>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Roll Call List</h2>
<p style="font-size: 20px;">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped" id="example">
    <thead>
        <th style="width: 30px; background-color: #70ad47; color: #ffffff">
            No.
        </th>
        <th style="width: 50px; background-color: #70ad47; color: #ffffff">
            Class
        </th>
        <th style="width: 100px; background-color: #70ad47; color: #ffffff">
            Subject
        </th>
        <th style="width: 200px; background-color: #70ad47; color: #ffffff">
            Instructor
        </th>
        <th style="width: 200px; background-color: #70ad47; color: #ffffff">
            Date
        </th>
        <th style="width: 150px; background-color: #70ad47; color: #ffffff">
            Time
        </th>
        <th style="background-color: #70ad47; color: #ffffff">
            Schedule
        </th>
        <th style="width: 200px; background-color: #70ad47">
        </th>
    </thead>
    <tbody>
        @{ int index = 1;}
        @foreach (var item in Model.OrderByDescending(r => r.RollCallID).OrderByDescending(r => r.BeginDate))
        {   
            <tr>
                <td style="text-align: right;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.ShortName)
                </td>
                <td>
                    @item.Instructor.Fullname
                </td>
                <td>
                    @item.BeginDate.ToString("dd-MM-yyyy") to @item.EndDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.StartTime.ToString(@"hh\:mm") - @item.EndTime.ToString(@"hh\:mm")
                </td>
                <td>
                    @Html.ActionLink("Change", "ChangeSchedule", new { id = item.RollCallID })
                </td>
                <td>
                    @Html.ActionLink("Student List", "RollCallStudentList", new { RollCallID = item.RollCallID })
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.RollCallID }) |
                    @Html.ActionLink("Detele", "Delete", new { id = item.RollCallID })
                </td>
            </tr>
               { index++; }
        }
    </tbody>
</table>
<script>
    /* Table initialisation */
    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row'<'span4'l><'span4'f>r>t<'row'<'span4'i><'span4'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            },
            "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [6, 7]}]
        });
    });       
</script>
