@model RollSystemMobile.Models.ViewModels.RollCallDetailViewModel
@{
    ViewBag.Title = "Roll Call " + Model.RollCall.RollCallID;
}
@section ExtraHead
{
    <style>
        body
        {
            background-color: White;
        }
        *
        {
            border-radius: 0;
        }
        form 
        {
            margin: 0;
        }
        
        .modal
        {
            width: 65%;
            margin-left: -30%;
        }
    </style>
}
<h2>
    Roll Call Detail</h2>
<dl class="dl-horizontal">
    <dt>Roll Call</dt>
    <dd>@Model.RollCall.RollCallID</dd>
    <dt>Subject</dt>
    <dd>@Model.RollCall.Subject.ShortName</dd>
    <dt>Instructor</dt>
    <dd>@Model.RollCall.InstructorTeachings.ElementAt(0).Instructor.Fullname</dd>
    <dt>Class</dt>
    <dd>@Model.RollCall.Class.ClassName</dd>
    <dt>Date</dt>
    <dd>
        From @Model.RollCall.BeginDate.ToString("dd-MM-yyyy") to @Model.RollCall.EndDate.ToString("dd-MM-yyyy")</dd>
    <dt>Time</dt>
    <dd>@Model.RollCall.StartTime.ToString(@"hh\:mm") - @Model.RollCall.EndTime.ToString(@"hh\:mm")</dd>
    <dt class="margin-top-12">Student List</dt>
    <dd style="margin-top: 8px;">
        <div class="accordion-group" style="width: 400px">
            <div class="accordion-heading" style="height: 35px">
                <a class="accordion-toggle" data-toggle="collapse" href="#studentList" style="margin-top: -3px">
                    Show</a>
            </div>
            <div id="studentList" class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Student ID
                                </th>
                                <th>
                                    Student Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int index = 1;}
                            @foreach (var Student in Model.RollCall.Students)
                            {
                                <tr>
                                    <td>
                                        @index
                                    </td>
                                    <td>
                                        @Student.StudentCode
                                    </td>
                                    <td>
                                        @Student.FullName
                                    </td>
                                </tr>
                                { index++; }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </dd>
    <dt class="margin-top-12">Attendance Logs</dt>
    <dd class="margin-top-12">
        <div style="width: 400px">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="text-right">
                            No
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Present
                        </th>
                        <th class="text-center">
                            Log Detail
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Khi tim log, dua ID vao, phai tim log cung ngay, cung mon, ca auto lan manual.
                    Chi duoc sua log dang manual, hoac log 1 ngay truoc do.
                    Khi chua co log manual, nho hien log auto
                  -->
                    @{int logIndex = 1;}
                    @foreach (var AttendanceLog in Model.RollCallLogs)
                    {
                        <tr>
                            <td class="text-right">
                                @logIndex
                            </td>
                            <td>
                                @AttendanceLog.LogDate.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @AttendanceLog.StudentAttendances.Count(attend => attend.IsPresent == true) /@Model.RollCall.Students.Count
                            </td>
                            <td class="text-center">
                                @using (Html.BeginForm("LogDetail", "Instructor", FormMethod.Get, new { @class = "AjaxForm" }))
                                {
                                    <input type="hidden" name="RollCallID" value="@Model.RollCall.RollCallID" />
                                    <input type="hidden" name="Date" value="@AttendanceLog.LogDate.Date" />
                                    <input type="submit" class="btn btn-info" value="Log Detail" />
                                }
                            </td>
                        </tr>
                                { logIndex++; }
                    }
                </tbody>
            </table>
        </div>
    </dd>
</dl>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
</div>
<script>
    $('.AjaxForm').submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        var url = $(this).attr("action");

        $.ajax({
            type: "POST",
            url: url,
            data: formData,
            success: function (data) {
                $('#myModal').html(data);
                $('#myModal').modal('show');
            }
        });
    });

</script>
