@model RollSystemMobile.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Subject</legend>

    <div class="display-label">ShortName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShortName)
    </div>

    <div class="display-label">FullName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">NumberOfSlot</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfSlot)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SubjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
