@model RollSystemMobile.Models.RollCall
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Create New Roll Call</h2>
@using (Html.BeginForm("Create", "RollCall", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table class="table">
        <tr>
            <td style="width: 350px; padding-left: 25px;">
                <div class="editor-label">
                    <b>1. Semester</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    @Html.DropDownList("SemesterID", new SelectList(ViewBag.SemesterID, "SemesterID", "SemesterName"), "- Select the semester -", new { style = "width: 200px;" })
                </div>
                <span style="height: 10px;" id="se" class="help-block"></span>
                <div class="editor-label">
                    <b>3. Major :</b>
                </div>
                <div class="editor-field " style="margin-left: 10px">
                    @Html.DropDownList("MajorID", (SelectList)ViewBag.MajorID, String.Empty, new { style = "width: 200px;" })
                </div>
                <span style="height: 10px;" id="ma" class="help-block"></span>
                <div class="editor-label">
                    <b>5. Subject</b>
                </div>
                <div class="editor-field" style="margin-left: 10px;">
                    @Html.DropDownList("SubjectID", (SelectList)ViewBag.SubjectID, "", new { style = "width: 250px;" })
                </div>
                <span style="height: 10px;" id="su" class="help-block"></span>
                <div class="editor-label">
                    <b>7. Instructor</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    @Html.DropDownList("InstructorID", (SelectList)ViewBag.MajoInstructorrID, "", new { style = "width: 230px;" })
                </div>
                <span style="height: 10px;" id="in" class="help-block"></span>
            </td>
            <td>
                <div class="editor-label">
                    <b>2. Begin Date</b>
                </div>
                <div class="editor-field">
                    <div class="input-append date" id="begindate" name="begindate" data-date="10-10-2013"
                        data-date-format="dd-mm-yyyy">
                        <input class="span2" name="BeginDate" id="BeginDate" style="width: 100px; margin-left: 10px;"
                            size="16" type="text" data-date-format="dd-mm-yyyy" readonly><span class="add-on"><i
                                class="icon-th"></i></span>
                    </div>
                </div>
                <span style="height: 10px;" id="be" class="help-block"></span>
                <div class="editor-label">
                    <b>4. Class</b>
                </div>
                <div class="editor-field" style="margin-left: 10px">
                    @Html.DropDownList("ClassID", (SelectList)ViewBag.ClassID, "", new { style = "width: 130px;" })<br />
                </div>
                <span style="height: 10px;" id="cl" class="help-block"></span>
                <div class="editor-label">
                    <b>6. Start time</b>
                </div>
                <div class="editor-field" id="a" style="margin-left: 10px;">
                    @Html.DropDownList("StartTime", new List<SelectListItem>
       {
           new SelectListItem { Text = "07:00", Value = "07:00" }, 
           new SelectListItem { Text = "08:45", Value = "08:45" },
           new SelectListItem { Text = "10:30", Value = "10:30" }, 
           new SelectListItem { Text = "12:30", Value = "12:30" }, 
           new SelectListItem { Text = "14:15", Value = "14:15" }, 
           new SelectListItem { Text = "16:00", Value = "16:00" },
           new SelectListItem { Text = "18:45", Value = "18:45" }, 
           new SelectListItem { Text = "Other", Value = "Other" } 
       }, "", new { @id = "startTime", style = "width:90px;" })
                    <input style="margin-bottom: 10px; width: 80px;" type="text" name="otherTime" id="Other" />
                </div>
                <span style="height: 10px;" id="st" class="help-block"></span>
            </td>
        </tr>
    </table>
    <p>
        <input style="margin-left: 20px;" type="submit" value="Create" id="submit" class="btn btn-primary" />
    </p>
}
<p style="font-size: 20px;">
    @Html.ActionLink("Back to List", "Index")
</p>
<script type="text/javascript">

    $(document).ready(function () {
        document.getElementById("startTime").disabled = true;
        document.getElementById("MajorID").disabled = true;
        document.getElementById("ClassID").disabled = true;
        document.getElementById("SubjectID").disabled = true;
        document.getElementById("InstructorID").disabled = true;
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        $("#Other").hide();
        document.getElementById('se').innerHTML = "* Select the semester for roll call !";
    });

    $('#SemesterID').change(function () {
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("startTime").disabled = true;
        document.getElementById("MajorID").disabled = true;
        document.getElementById("ClassID").disabled = true;
        document.getElementById("SubjectID").disabled = true;
        document.getElementById("InstructorID").disabled = true;
        $("#MajorID option[value='']").remove();


        $("#MajorID").prepend("<option value='' selected='selected'></option>");
        sortOption("MajorID");
        $("#ClassID").prepend("<option value='' selected='selected'></option>");
        sortOption("ClassID");
        $("#SubjectID").prepend("<option value='' selected='selected'></option>");
        sortOption("SubjectID");
        $("#startTime").prepend("<option value='' selected='selected'></option>");
        sortOption("startTime");
        $("#InstructorID").prepend("<option value='' selected='selected'></option>");
        sortOption("InstructorID");


        setDatepicker();
        $("#Other").hide();
        $("#SemesterID option[value='']").remove();
        document.getElementById("MajorID").disabled = false;
        //
        document.getElementById('ma').innerHTML = "* Select the major for roll call !";
        document.getElementById('be').innerHTML = "* Select the begin date for roll call !";
        document.getElementById('se').innerHTML = " ";
        document.getElementById('su').innerHTML = "";
        document.getElementById('cl').innerHTML = "";
        document.getElementById('st').innerHTML = "";
    });
    //start time change value
    $('#startTime').change(function () {
        $("#startTime option[value='']").remove();
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("InstructorID").disabled = false;
        checkInstructorFree();
        document.getElementById('st').innerHTML = " ";
        document.getElementById('in').innerHTML = "* Select the instructor for roll call !";
    });
    //change startime to text if subject is capnstone
    $('#SubjectID').change(function () {
        $("#SubjectID option[value='']").remove();
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("InstructorID").disabled = true;
        document.getElementById("startTime").disabled = false;

        $("#InstructorID").prepend("<option value='' selected='selected'></option>");
        sortOption("InstructorID");

        setDefaultTime();
        checkNumberOfSlot();
        checkStartTime();
        document.getElementById('st').innerHTML = "* Select the start time for roll call !";
        document.getElementById('in').innerHTML = "";
        document.getElementById('su').innerHTML = "";
    });


    //show student list of class
    $('#ClassID').change(function () {
        $("#ClassID option[value='']").remove();
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("SubjectID").disabled = false;
        document.getElementById("InstructorID").disabled = true;
        document.getElementById("startTime").disabled = true;

        $("#InstructorID").prepend("<option value='' selected='selected'></option>");
        sortOption("Instructor");
        $("#startTime").prepend("<option value='' selected='selected'></option>");
        sortOption("startTIme");

        checkSubjectFree();
        document.getElementById('cl').innerHTML = "";
        document.getElementById('st').innerHTML = "";
        document.getElementById('in').innerHTML = "";
        document.getElementById('su').innerHTML = "* Select the subject for roll call !";
    });

    //major change
    $('#MajorID').change(function () {
        $("#MajorID option[value='']").remove();
        document.getElementById("submit").className = "btn";
        document.getElementById("submit").disabled = true;
        document.getElementById("ClassID").disabled = false;
        document.getElementById("SubjectID").disabled = true;
        document.getElementById("startTime").disabled = true;
        document.getElementById("InstructorID").disabled = true;

        $("#InstructorID").prepend("<option value='' selected='selected'></option>");
        sortOption("InstructorID");
        $("#startTime").prepend("<option value='' selected='selected'></option>");
        sortOption("startTime");
        $("#SubjectID").prepend("<option value='' selected='selected'></option>");
        sortOption("SubjectID");

        checkClassByMajor();
        document.getElementById('cl').style.color = "black";
        document.getElementById('ma').innerHTML = "";
        document.getElementById('su').innerHTML = "";
        document.getElementById('st').innerHTML = "";
        document.getElementById('in').innerHTML = "";
        document.getElementById('cl').innerHTML = "* Select the class for roll call !";
    });
    $('#InstructorID').change(function () {
        $("#InstructorID option[value='']").remove();
        document.getElementById("submit").className = "btn btn-primary";
        document.getElementById("submit").disabled = false;
        document.getElementById('in').innerHTML = "";

    });

    function checkClassByMajor() {
        var majorID = $('#MajorID :selected').attr("value");
        var classUrl = '@Url.Action("GetClasses")/' + majorID;
        $.getJSON(classUrl, function (classes) {
            var html = "";
            html += ('<option value=""></option>');
            $.each(classes, function (index, item_class) {
                html += ('<option value="' + item_class.id + '" >' + item_class.name + '</option>');
            });
            $("#ClassID").html(html);
        });
        document.getElementById('in').innerHTML = "";
    };
    function checkNumberOfSlot() {
        var subjectID = $('#SubjectID :selected').attr("value");
        var slotUrl = '@Url.Action("GetNumberOfSlot")/' + subjectID;
        $.getJSON(slotUrl, function (sub) {
            if (sub.slot != 1) {
                $("#startTime option[value='10:30']").remove();
                $("#startTime option[value='16:00']").remove();
            }
        });
    };

    var today = new Date();
    var month = today.getMonth() + 1;
    var date = today.getDate();
    var year = today.getFullYear();
    var currentdate = year + "-" + month + "-" + date;

    function checkClassFree() {
        checkClassByMajor();
        var subjectID = $('#SubjectID :selected').attr("value");
        var subjectUrl = '@Url.Action("GetClassFree")/' + subjectID;

        $.getJSON(subjectUrl, function (classs) {
            $.each(classs, function (index, cls) {
                $("#ClassID option[value='" + cls.id + "']").remove();
            });
        });
    };
    function checkSubjectByMajor() {
        var majorID = $('#MajorID :selected').attr("value");
        var subjectUrl = '@Url.Action("GetSubjects")/' + majorID;

        $.getJSON(subjectUrl, function (subjects) {
            var html = "";
            html += ('<option value=""></option>');
            $.each(subjects, function (index, subject) {
                html += ('<option value="' + subject.id + '" >' + subject.name + '</option>');
            });
            $("#SubjectID").html(html);
        });
    };
    function checkSubjectFree() {
        var majorID = $('#MajorID :selected').attr("value");
        var subjectUrl = '@Url.Action("GetSubjects")/' + majorID;
        var semesterID = $('#SemesterID :selected').attr("value");
        var semesterUrl = '@Url.Action("GetDateSemester")/' + semesterID;

        $.getJSON(subjectUrl, function (subjects) {
            var html = "";
            html += ('<option value=""></option>');
            $.each(subjects, function (index, subject) {
                var sessionUrl = '@Url.Action("GetNumberOfSlot")/' + subject.id;
                var beginDateSelect = document.getElementById('begindate').getAttribute('data-date');
                var endDateSelect;
                $.getJSON(sessionUrl, function (sub) {
                    var i = (sub.session / sub.slot - (sub.session % sub.slot) / sub.slot);
                    var day;
                    if ((i % 5) == 0) {
                        day = ((i / 5) * 7) - 1;
                    } else {
                        day = (((i - (i % 5)) + 1) * 7) - 1;
                    }
                    var tmp = beginDateSelect.split('-');
                    var year = tmp[2];
                    var month = tmp[1];
                    var date = tmp[0];
                    if (month < 10 && date < 10) {
                        beginDateSelect = year + "-0" + month + "-0" + date;
                    } else if (month >= 10 && date < 10) {
                        beginDateSelect = year + "-" + month + "-0" + date;
                    } else if (month < 10 && date >= 10) {
                        beginDateSelect = year + "-0" + month + "-" + date;
                    } else {
                        beginDateSelect = year + "-" + month + "-" + date;
                    }
                    var tmp1 = new Date(year, month, date - (-day));
                    var mth = tmp1.getMonth();
                    var yr = tmp1.getFullYear();
                    if (mth == 0) {
                        mth = 12;
                        yr--;
                    }
                    if (mth < 10) {
                        endDateSelect = yr + "-0" + mth + "-" + tmp1.getDate();
                    } else {
                        endDateSelect = yr + "-" + mth + "-" + tmp1.getDate();
                    }
                    $.getJSON(semesterUrl, function (semester) {
                        if (semester.enddate >= endDateSelect) {
                            html += ('<option value="' + subject.id + '" >' + subject.name + '</option>');
                        }
                        $("#SubjectID").html(html);
                        sortOption("SubjectID");
                        var classID = $('#ClassID :selected').attr("value");
                        var semesterID = $('#SemesterID :selected').attr("value");
                        var classUrl = '@Url.Action("GetSubjectFree")?id=' + classID + '&semesterid=' + semesterID;
                        $.getJSON(classUrl, function (subs) {
                            $.each(subs, function (index, sa) {
                                $("#SubjectID option[value='" + sa.id + "']").remove();
                            });
                            var checkNumberOption = document.getElementById('SubjectID').length;
                            if (checkNumberOption == 1) {
                                document.getElementById('cl').innerHTML = "* This class has studied all subjects in this semester !";
                                document.getElementById('su').innerHTML = "";
                                document.getElementById('cl').style.color = "red";
                                document.getElementById("SubjectID").disabled = true;
                            }
                            else {
                                document.getElementById('cl').style.color = "black";
                                document.getElementById("SubjectID").disabled = false;
                            }
                        });
                    });
                });
            });
        });
    };
    function checkStartTime() {
        var classID = $('#ClassID :selected').attr("value");
        var starttimeUrl = '@Url.Action("GetStartTime")/' + classID;

        var subjectID = $('#SubjectID :selected').attr("value");
        var sessionUrl = '@Url.Action("GetNumberOfSlot")/' + subjectID;

        var beginDateSelect = document.getElementById('begindate').getAttribute('data-date');
        var endDateSelect;
        $.getJSON(sessionUrl, function (sub) {
            var i = (sub.session / sub.slot - (sub.session % sub.slot) / sub.slot);
            var day;
            if ((i % 5) == 0) {
                day = ((i / 5) * 7) - 1;
            } else {
                day = (((i - (i % 5)) + 1) * 7) - 1;
            }
            var tmp = beginDateSelect.split('-');
            var year = tmp[2];
            var month = tmp[1];
            var date = tmp[0];
            if (month < 10 && date < 10) {
                beginDateSelect = year + "-0" + month + "-0" + date;
            } else if (month >= 10 && date < 10) {
                beginDateSelect = year + "-" + month + "-0" + date;
            } else if (month < 10 && date >= 10) {
                beginDateSelect = year + "-0" + month + "-" + date;
            } else {
                beginDateSelect = year + "-" + month + "-" + date;
            }
            var tmp1 = new Date(year, month, date - (-day));
            var mth = tmp1.getMonth();
            var yr = tmp1.getFullYear();
            if (mth == 0) {
                mth = 12;
                yr--;
            }
            if (mth < 10) {
                endDateSelect = yr + "-0" + mth + "-" + tmp1.getDate();
            } else {
                endDateSelect = yr + "-" + mth + "-" + tmp1.getDate();
            }
            $.getJSON(starttimeUrl, function (starttime) {
                $.each(starttime, function (index, time) {
                    if (time.begindate == beginDateSelect ||
                        endDateSelect == time.enddate ||
                        (time.begindate > beginDateSelect && time.enddate < endDateSelect) ||
                        (time.begindate < beginDateSelect && time.enddate > endDateSelect) ||
                        (time.begindate < beginDateSelect && time.enddate > beginDateSelect) ||
                        (time.begindate < endDateSelect && time.enddate > endDateSelect)) {
                        $("#startTime option[value='" + time.starttime + "']").remove();
                        if (time.endtime == "10:15") {
                            $("#startTime option[value='08:45']").remove();
                        } else if (time.endtime == "12:00") {
                            $("#startTime option[value='10:30']").remove();
                        } else if (time.endtime == "15:45") {
                            $("#startTime option[value='14:15']").remove();
                        } else if (time.endtime == "17:30") {
                            $("#startTime option[value='16:00']").remove();
                        }
                    }
                });
            });
        });
    };

    function checkInstructorFree() {
        var subjectID = $('#SubjectID :selected').attr("value");
        var instructorUrl = '@Url.Action("GetInstructors")/' + subjectID;

        $.getJSON(instructorUrl, function (instructors) {
            var html = "";
            html += ('<option id="select" value="" ></option>');
            $.each(instructors, function (index, instructor) {
                html += ('<option value="' + instructor.id + '" >' + instructor.name + '</option>');
            });
            $("#InstructorID").html(html);
        });


        var sessionUrl = '@Url.Action("GetNumberOfSlot")/' + subjectID;

        var beginDateSelect = document.getElementById('begindate').getAttribute('data-date');
        var endDateSelect;
        $.getJSON(sessionUrl, function (sub) {
            var i = (sub.session / sub.slot - (sub.session % sub.slot) / sub.slot);
            var day;
            if ((i % 5) == 0) {
                day = ((i / 5) * 7) - 1;
            } else {
                day = (((i - (i % 5)) + 1) * 7) - 1;
            }
            var tmp = beginDateSelect.split('-');
            var year = tmp[2];
            var month = tmp[1];
            var date = tmp[0];
            if (month < 10 && date < 10) {
                beginDateSelect = year + "-0" + month + "-0" + date;
            } else if (month >= 10 && date < 10) {
                beginDateSelect = year + "-" + month + "-0" + date;
            } else if (month < 10 && date >= 10) {
                beginDateSelect = year + "-0" + month + "-" + date;
            } else {
                beginDateSelect = year + "-" + month + "-" + date;
            }
            var tmp1 = new Date(year, month, date - (-day));
            var mth = tmp1.getMonth();
            var yr = tmp1.getFullYear();
            if (mth == 0) {
                mth = 12;
                yr--;
            }
            if (mth < 10) {
                endDateSelect = yr + "-0" + mth + "-" + tmp1.getDate();
            } else {
                endDateSelect = yr + "-" + mth + "-" + tmp1.getDate();
            }

            var insUrl = '@Url.Action("GetInstructorFree")/' + subjectID;
            var starttime = $('#startTime :selected').attr("value");

            var test = starttime.split(':');
            var hour;
            var minutes;
            var endtime;

            if (sub.slot == 1) {
                hour = parseInt(test[0]) + 1;
                minutes = parseInt(test[1]) + 30;
                if (minutes >= 60) {
                    hour = hour + minutes / 60 - minutes % 60 / 60;
                    minutes = minutes % 60;
                }
                if (hour < 10) {
                    endtime = "0" + hour + ":" + minutes;
                } else {
                    endtime = hour + ":" + minutes;
                }
            } else if (sub.slot == 2) {
                hour = parseInt(test[0]) + 3;
                minutes = parseInt(test[1]) + 15;
                if (minutes >= 60) {
                    hour = hour + minutes / 60 - minutes % 60 / 60;
                    minutes = minutes % 60;
                }
                if (hour < 10) {
                    endtime = "0" + hour + ":" + minutes;
                } else {
                    endtime = hour + ":" + minutes;
                }
            }
            $.getJSON(insUrl, function (inss) {
                $.each(inss, function (index, ins) {
                    if (ins.begindate == beginDateSelect ||
                        endDateSelect == ins.enddate ||
                        (ins.begindate > beginDateSelect && ins.enddate < endDateSelect) ||
                        (ins.begindate < beginDateSelect && ins.enddate > endDateSelect) ||
                        (ins.begindate < beginDateSelect && ins.enddate > beginDateSelect) ||
                        (ins.begindate < endDateSelect && ins.enddate > endDateSelect)) {
                        if (ins.starttime == starttime ||
                           endtime == ins.endtime ||
                           (ins.starttime < starttime && ins.endtime > endtime) ||
                           (ins.starttime > starttime && ins.endtime < endtime)||
                           (ins.starttime < starttime && ins.endtime > starttime) || 
                           (ins.starttime < endtime && ins.endtime > endtime)) {
                            $("#InstructorID option[value='" + ins.id + "']").remove();
                        }
                    }
                });
            });
        });
    };
    function setDefaultTime() {
        $("#startTime option[value='07:00']").remove();
        $("#startTime option[value='08:45']").remove();
        $("#startTime option[value='10:30']").remove();
        $("#startTime option[value='12:30']").remove();
        $("#startTime option[value='14:15']").remove();
        $("#startTime option[value='16:00']").remove();
        $("#startTime option[value='18:45']").remove();
        var html = "";
        html += ('<option value=""></option>')
        html += ('<option value="07:00" >07:00</option>')
        html += ('<option value="08:45" >08:45</option>')
        html += ('<option value="10:30" >10:30</option>')
        html += ('<option value="12:30" >12:30</option>')
        html += ('<option value="14:15" >14:15</option>')
        html += ('<option value="16:00" >16:00</option>')
        html += ('<option value="18:45" >18:45</option>')
        html += ('<option value="Other" >Other</option>')
        $("#startTime").html(html);
    };
    function addOption(text, value, id) {
        var option = document.createElement("option");
        option.text = text;
        option.value = value;
        var select = document.getElementById(id);
        select.appendChild(option);
    };
    function sortOption(id) {
        var my_options = $("#" + id + " option");
        my_options.sort(function (a, b) {
            if (a.text > b.text) return 1;
            else if (a.text < b.text) return -1;
            else return 0
        })
        $("#" + id).empty().append(my_options);
    };
    function checkOtherTime() {
        var timeValue = $('#startTime :selected').atrr("value");
        if (timeValue == "Other") {
            $("#Other").show();
        } else {
            $("#Other").hide();
        }
    };



    function setDatepicker() {
        var semesterID = $('#SemesterID :selected').attr("value");
        var semesterUrl = '@Url.Action("GetDateSemester")/' + semesterID;
        var now = new Date();

        $.getJSON(semesterUrl, function (semester) {
            //set select first sunday
            a = new Date(semester.begindate);
            b = new Date(semester.enddate);
            var tmp;
            var Ndate;
            var NextDate;
            if (now.valueOf() < a.valueOf()) {
                tmp = new Date(a);
            } else {
                tmp = new Date(now);
            };
            var day = tmp.getDay();
            var year = tmp.getFullYear();
            var month = tmp.getMonth() + 1;
            var date = tmp.getDate();
            if (day > 1) {
                var i = 8 - day;
                NextDate = new Date(year, month, date + i);
                if (NextDate.getMonth() == month) {
                    Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
                } else {
                    NextDate = new Date(year, month, date + i - 1);
                    Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
                }
            } else if (day == 0) {
                NextDate = new Date(year, month, date + 1);
                Ndate = NextDate.getDate() + "-" + NextDate.getMonth() + "-" + NextDate.getFullYear();
            } else {
                Ndate = date + "-" + month + "-" + year;
            }

            var begindate = $("#begindate").datepicker
            ({
                onRender: function (date) {
                    return date.valueOf() < now.valueOf() ||
                            date.valueOf() < a.valueOf() ||
                            date.valueOf() > b.valueOf() ||
                         date.getDay() != 1 ? 'disabled' : '';
                }
            }).on('changeDate', function (ev) {
                var mont = ev.date.getMonth() + 1;
                var evdate = ev.date.getDate() + "-" + mont + "-" + ev.date.getFullYear();
                document.getElementById('begindate').setAttribute('data-date', evdate);
                document.getElementById('be').innerHTML = "";

                document.getElementById("startTime").disabled = true;
                document.getElementById("SubjectID").disabled = true;
                document.getElementById("InstructorID").disabled = true;

                var majorID = $('#MajorID :selected').attr("value");
                if (majorID == "") {
                    document.getElementById("Class").disabled = true;
                }
                $("#InstructorID").prepend("<option value='' selected='selected'></option>");
                sortOption("InstructorID");
                $("#startTime").prepend("<option value='' selected='selected'></option>");
                sortOption("startTime");
                $("#SubjectID").prepend("<option value='' selected='selected'></option>");
                sortOption("SubjectID");
                $("#ClassID").prepend("<option value='' selected='selected'></option>");
                sortOption("ClassID");

                document.getElementById("submit").className = "btn";
                document.getElementById("submit").disabled = true;
                begindate.hide();
            }).data('datepicker');
            begindate.setValue(Ndate);
            document.getElementById('begindate').setAttribute('data-date', Ndate);
        });
    };
</script>
