@model IEnumerable<RollSystemMobile.Models.RollCall>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Staff/_Layout.cshtml";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            StartTime
        </th>
        <th>
            EndTime
        </th>
        <th>
            BeginDate
        </th>
        <th>
            EndDate
        </th>
        <th>
            Subject
        </th>
        <th>
            Class
        </th>
        <th>
            Semester
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester.SemesterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RollCallID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RollCallID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RollCallID })
        </td>
    </tr>
}

</table>
