@model RollSystemMobile.Models.RollCall
@{
    ViewBag.Title = "Change Schedule";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
@section ExtraHead {
    <style>
        #calendar
        {
            width: 650px;
            margin: 0 auto;
            font-size: 85%;
        }
        
        .fc-event-inner
        {
            line-height: normal;
            text-align: center;
        }
        
        .datepicker{z-index:1151;}
    </style>
    <link href="@Url.Content("~/Content/Plug-in/FullCalendar/fullcalendar.css")" rel="stylesheet"
        type="text/css" />
    <script src="@Url.Content("~/Content/Plug-in/FullCalendar/js/fullcalendar.js")" 
    type="text/javascript"></script>
}
<h4>
    Roll Call @Model.RollCallID Schedule</h4>
<dl class="dl-horizontal">
    <dt>Roll Call</dt>
    <dd>@Model.RollCallID</dd>
    <dt>Subject</dt>
    <dd>@Model.Subject.FullName</dd>
    <dt>Class</dt>
    <dd>@Model.Class.ClassName</dd>
        <dt>Instructor</dt>
    <dd>@Model.Instructor.Fullname</dd>
    <dt>Date</dt>
    <dd>
        From @Html.FormatDate(@Model.BeginDate) to @Html.FormatDate(@Model.EndDate)</dd>
    <dt>Time</dt>
    <dd>@Html.FormatTime(@Model.StartTime) - @Html.FormatTime(@Model.EndTime)</dd>
</dl>

<div class="pull-right" style="margin: 0 70px 15px 0">
<h4>Help</h4>

<div class="fc-event fc-event-hori fc-event-start fc-event-end" style=" background-color:Gray;width: 35px;height: 20px; display:inline-block">
</div> Past study session, not clickable
<br />

<div class="fc-event fc-event-hori fc-event-start fc-event-end" style="width: 35px;height: 20px; display:inline-block">

</div> Present and future study session, click to change instructor or date, time.
<h4>More Action</h4>
<a href="@Url.Action("AddSession","StudySession", new {RollCallID = Model.RollCallID })" id="new-ses" class="btn btn-success">Add Session</a>
<button id="change-ins" class="btn btn-info">Change Instructor</button>
</div>

<div id='calendar'>
</div>
<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            editable: false,
            events: '@Url.Action("GetStudySession", new { id = Model.RollCallID })',
            eventClick: function (calEvent, jsEvent, view) {
                if (isPastDay(calEvent.start)) {
                    //Ko bao gi tuc ko click dc
                }
                else {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SessionDetail","StudySession")' + "/" + calEvent.id,
                        success: function (data) {
                            $('#modal-body').html(data);
                            $('#myModal').modal('show');
                        }
                    });
                }
            },
            eventRender: function (event, element) {
                if (isPastDay(event.start)) {
                    //Chuyen qua mau xam
                    element.css('background-color', 'gray');
                    element.css('border', '1px solid gray');
                }
                else {
                    element.css('cursor', 'pointer');
                }

                var title = event.title;
                var normalTime = '@Html.FormatTime(@Model.StartTime) - @Html.FormatTime(@Model.EndTime)';
                if (title.indexOf('@Html.Raw(@Model.Instructor.Fullname)') > -1
                && title.indexOf(normalTime) > -1) {
                    //Neu nhu day la ngay bt, ko phai day them hay bu
                    element.find('.fc-event-title').html("Study Session at normal time.");
                }
            }
        });

    });

    function isPastDay(day) {
        var check = $.fullCalendar.formatDate(day, 'yyyy-MM-dd');
        var today = $.fullCalendar.formatDate(new Date(), 'yyyy-MM-dd');
        if (check <= today) return true;
        else return false;
    }


    $('#new-ses').click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "GET",
            url: $(this).attr('href'),
            success: function (data) {
                $('#new-ses-modal-body').html(data);
                $('#newSessionModal').modal('show');
            }
        });
    });
    
</script>



@using(Html.BeginForm("Edit","StudySession", FormMethod.Post, new {@class="AjaxForm"})){
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h4 id="myModalLabel"> Change Schedule
           </h4>
    </div>
    <div class="modal-body" id='modal-body'>
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" id="btnSave">
            Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
    </div>

</div>
}

@using(Html.BeginForm("AddSession","StudySession", FormMethod.Post, new {@class="AjaxForm_2"})){
<div id="newSessionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h4 id=""> Add Study Session for Roll Call @Model.RollCallID
           </h4>
    </div>
    <div class="modal-body" id='new-ses-modal-body'>
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" id="btnSave">
            Add</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
    </div>

</div>
}



<script>
    $('.AjaxForm').submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        var url = $(this).attr("action");

        $.ajax({
            type: "POST",
            url: url,
            data: formData,
            success: function (data) {
                if (data.message == "Success") {
                    $('#myModal').modal('hide');
                    $('#calendar').fullCalendar("refetchEvents");
                } else {
                    alert(data.error);
                }
            }
        });
    });

    $('.AjaxForm_2').submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        var url = $(this).attr("action");

        $.ajax({
            type: "POST",
            url: url,
            data: formData,
            success: function (data) {
                if (data.message == "Success") {
                    $('#newSessionModal').modal('hide');
                    $('#calendar').fullCalendar("refetchEvents");
                } else {
                    alert(data.error);
                }
            }
        });
    });
</script>